<div class="categorySection">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="location-filters">
                    <div class="search-location">
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="searchLocation" placeholder="Search Location" (focus)="navigateToSearchCity()" />
                        </div>
                        <div class="map-pin">
                            <img src="assets/images/map-pin-black.svg" alt="location-pin">
                        </div>
                    </div>
                    <div class="filter">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{shopType === 'mostBooked' ? 'Most Booked' : shopType === 'mostLiked' ? 'Most Liked' : shopType === 'nearest' ? 'Nearest' : shopType === 'prriceSortAsc' ? 'Price - Low to High' : shopType === 'priceSortDesc' ? 'Price - High to Low' : ''}}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" (click)="getShopList('mostBooked')">Most Booked</a>
                                    <a class="dropdown-item" (click)="getShopList('mostLiked')">Most Liked</a>
                                    <a class="dropdown-item" (click)="getShopList('nearest')">Nearest</a>
                                    <a class="dropdown-item" (click)="getShopList('prriceSortAsc')">Price - Low to High</a>
                                    <a class="dropdown-item" (click)="getShopList('priceSortDesc')">Price - High to Low</a>
                                </div>
                            </li>
                        </nav>
                        <!-- <div class="down-icon">
                            <img src="assets/images/chevron-down.svg" alt="chevron">
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="parentLoader" *ngIf="isLoading; else shopListing;">
          <app-custom-spinner></app-custom-spinner>
        </div>
        <ng-template #shopListing>
            <app-shop [shop]="shop" [isSelectShopsPage]="true" (setSelectedShop)="setSelectedShopIndex($event)" *ngFor="let shop of shops; let i = index;" [index]="i" [selectedShopIndex]="selectedShopIndex"></app-shop>
            <div class="emptyArray" *ngIf="shops.length === 0">
                <img src="../../../../assets/images/category-search/no-buninessfound.svg" alt="">
                <h4>Sorry !</h4>
                <p>we do not have any business in this area.</p>
                <p>Do you want to try other location?</p>
                <p>Bookus is working hard to<br>have more business to join us.</p>
                <button class="btn-green w-100" (click)="navigateToSearchCity()">Let’s Go</button>
            </div>
        </ng-template>
    </div>
    <div class="book-us">
      <a (click)="book()">Book US</a>
    </div>
</div>
