<div class="card">
    <!-- header tabs -->
    <div class="row">
        <div class="col-6">
            <button mat-button class="invite-btn">Invite a friend</button>
        </div>
        <div class="col-6">
            <button class="receive-btn">to receive xx points</button>
        </div>
    </div>
    <!-- form -->
    <form>
        <!-- email -->
        <div class="row" style="padding: 15px 0px;">
            <div class="col-12 info-txt">
                what is the email of your friend?
            </div>
        </div>
        <div class="row" style="padding: 15px 0px;">
            <div class="col-12">
                <div class="form-group ">
                    <div class="form-icon">
                        <img src="assets/images/email.svg" alt="mail">
                    </div>
                    <input type="email" class="form-control" placeholder="Enter Your Email">
                </div>
            </div>
        </div>
        <!-- divider line -->
        <div class="row" style="padding: 10px 0px;">
            <div class="col-12">
                <div class="line-divider"></div>
            </div>
        </div>
        <!-- email -->
        <div class="row" style="padding: 15px 0px;">
            <div class="col-12 info-txt">
                what is the email of your friend?
            </div>
        </div>
        <div class="row" style="padding: 15px 0px;">
            <div class="col-12">
                <div class="form-group ">
                    <div class="form-icon">
                        <img src="assets/images/email.svg" alt="mail">
                    </div>
                    <input type="email" class="form-control" placeholder="Enter Your Email">
                </div>
            </div>
        </div>
        <!-- divider line -->
        <div class="row" style="padding: 10px 0px;">
            <div class="col-12">
                <div class="line-divider"></div>
            </div>
        </div>
        <!-- fab button -->
        <div class="row" style="padding: 10px 0px;">
            <div class="col-12" style="text-align: end;">
                <span class="material-icons-outlined fab-btn">
                    add_circle
                </span>
            </div>
        </div>
        <!-- buttons -->
        <div class="row" style="padding-top: 10px;">
            <div class="col-6" style="text-align: center;">
                <button class="send-btn">Send</button>
            </div>
            <div class="col-6" style="text-align: center;">
                <button class="cancel-btn" (click)="closeModel()">Cancel</button>
            </div>
        </div>
    </form>
</div>