<div class="profile-details-section">
    <ul class="list-group list-group-flush">
        <li class="list-group-item intro">
            <h5>Introduction</h5>
            <p>We are a full service spa centre, providing our clients with the absolute best service<span>...Show More</span></p>
        </li>
        <li class="list-group-item intro-2">
            <button class="btn-item"><i class="bi bi-briefcase"></i> Nail Artist</button>
            <button class="btn-item"><i class="bi bi-globe"></i> English, Tagalog, Bisaya</button>
            <button class="btn-item"><i class="bi bi-clock"></i> Booked 200 times</button>
        </li>
        <li class="list-group-item intro-3">
            <button class="btn-item"><i class="bi bi-patch-check"></i> Certifications (3)</button>
            <button class="btn-view">View</button>
        </li>
    </ul>
</div>