<div class="parentLoader" *ngIf="isLoading">
    <app-custom-spinner></app-custom-spinner>
</div>

<!-- Rating & Review DETAIL// -->
<div class="herbal-center-wrapper" *ngIf="!isLoading" ngClass="this.isMobile ? 'mobile-view' : 'desktop-view'" [class.m-0]="shopWall" [class.p-0]="shopWall">
    <div class="rating-review-section" *ngIf="isMobile">
        <div class="container" [class.p-0]="shopWall">
                    <div class="profile-wrapper">
                        <div class="rating-review">
                            <div class="customer-rating section" *ngIf="overallRating">
                                <h5 class="heading">Customer Rating</h5>
                                <div class="rating">
                                    <app-star-rating [rating]="overallRating?.star" [size]="18"></app-star-rating>
                                    <div class="rating-score">
                                        <p>{{overallRating?.star | number:'1.0-1'}} out of 5</p>
                                    </div>
                                    <div class="total-rating">
                                        <p>{{overallRating?.star_count | number: '1.0-0'}} Total ratings</p>
                                    </div>
                                </div>
                                <div class="progress-ratings" *ngIf="percentRatings">
                                    <div class="progressBar-wrapper" *ngIf="percentRatings?.five_star !== undefined" (click)="setStarFilter(5)"> 
                                        <div class="rating-stars">
                                            <p>5 star</p>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" [style.width]="percentRatings?.five_star + '%'" aria-valuenow="percentRatings?.five_star" aria-valuemin="0" aria-valuemax="100"
                                            [ngClass]="{'grayed': this.starFilter.isSet && this.starFilter.filter != 5}"></div>
                                        </div>
                                        <div class="rating-percent">
                                            <p>{{(percentRatings?.five_star || 0)}}%</p>
                                        </div>
                                    </div>
                                    <div class="progressBar-wrapper" *ngIf="percentRatings?.four_star !== undefined" (click)="setStarFilter(4)"> 
                                        <div class="rating-stars">
                                            <p>4 star</p>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" [style.width]="percentRatings?.four_star + '%'" aria-valuenow="percentRatings?.four_star" aria-valuemin="0" aria-valuemax="100"
                                            [ngClass]="{'grayed': this.starFilter.isSet && this.starFilter.filter != 4}"></div>
                                        </div>
                                        <div class="rating-percent">
                                            <p>{{(percentRatings?.four_star || 0)}}%</p>
                                        </div>
                                    </div>
                                    <div class="progressBar-wrapper" *ngIf="percentRatings?.three_star !== undefined" (click)="setStarFilter(3)"> 
                                        <div class="rating-stars">
                                            <p>3 star</p>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" [style.width]="percentRatings?.three_star + '%'" aria-valuenow="percentRatings?.three_star" aria-valuemin="0" aria-valuemax="100"
                                            [ngClass]="{'grayed': this.starFilter.isSet && this.starFilter.filter != 3}"></div>
                                        </div>
                                        <div class="rating-percent">
                                            <p>{{(percentRatings?.three_star || 0)}}%</p>
                                        </div>
                                    </div>
                                    <div class="progressBar-wrapper" *ngIf="percentRatings?.two_star !== undefined" (click)="setStarFilter(2)"> 
                                        <div class="rating-stars">
                                            <p>2 star</p>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" [style.width]="percentRatings?.two_star + '%'" aria-valuenow="percentRatings?.two_star" aria-valuemin="0" aria-valuemax="100"
                                            [ngClass]="{'grayed': this.starFilter.isSet && this.starFilter.filter != 2}"></div>
                                        </div>
                                        <div class="rating-percent">
                                            <p>{{(percentRatings?.two_star || 0)}}%</p>
                                        </div>
                                    </div>
                                    <div class="progressBar-wrapper" *ngIf="percentRatings?.one_star !== undefined" (click)="setStarFilter(1)"> 
                                        <div class="rating-stars">
                                            <p>1 star</p>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" [style.width]="percentRatings?.one_star + '%'" aria-valuenow="percentRatings?.one_star" aria-valuemin="0" aria-valuemax="100"
                                            [ngClass]="{'grayed': this.starFilter.isSet && this.starFilter.filter != 1}"></div>
                                        </div>
                                        <div class="rating-percent">
                                            <p>{{(percentRatings?.one_star || 0)}}%</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="by-feature section" *ngIf="therapistId">
                                <h5 class="heading py-2">By Feature</h5>
                                <div class="rating py-2">
                                    <div class="features">
                                        <p>Communication Rating</p>
                                    </div>
                                    <app-star-rating [rating]="overallRating?.communication_star" [size]="18"></app-star-rating>
                                    <div class="total-rating">
                                        <p>{{overallRating?.communication_star | number:'1.0-1'}}</p>
                                    </div>
                                </div>
                                <div class="rating py-2">
                                    <div class="features">
                                        <p>Skills Ratings</p>
                                    </div>
                                    <app-star-rating [rating]="overallRating?.skill_star" [size]="18"></app-star-rating>
                                    <div class="total-rating">
                                        <p>{{overallRating?.skill_star | number:'1.0-1'}}</p>
                                    </div>
                                </div>
                                <div class="rating py-2">
                                    <div class="features">
                                        <p>Services Ratings</p>
                                    </div>
                                    <app-star-rating [rating]="overallRating?.massage_star" [size]="18"></app-star-rating>
                                    <div class="total-rating">
                                        <p>{{overallRating?.massage_star | number:'1.0-1'}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="shop-reviews section">
                                <div class="section-heading">
                                    <h5 class="heading">customer reviews</h5>
                                    <p>{{totalReviews}} Review</p>
                                </div>
                                <div class="filter-search" *ngIf="!shopWall">
                                    <div class="search">
                                        <nav class="navbar">
                                            <form class="form-inline">
                                                <input class="form-control me-sm-2" name="searchKeyword" [(ngModel)]="searchKeyword" (input)="search()" type="search" placeholder="Search" aria-label="Search">
                                                <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
                                                <div class="search-btn">
                                                    <img src="assets/images/search.svg" alt="search">
                                                </div>
                                            </form>
                                        </nav>
                                    </div>
                                    <div class="filter">
                                        <nav class="navbar navbar-expand-lg navbar-light">
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    {{reviewType === 'mostLiked' ? 'Most useful' : reviewType === 'recentRating' ? 'Latest' : reviewType === 'highRated' ? 'Highest' : reviewType === 'lowRated' ? 'Lowest' : reviewType === 'mostDiscussed' ? 'Most Popular' : ''}}
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                    <!-- <a class="dropdown-item" (click)="getDetails('byId')"></a> -->
                                                    <a class="dropdown-item" (click)="getDetails('recentRating')">Latest</a>
                                                    <a class="dropdown-item" (click)="getDetails('mostLiked')">Most useful</a>
                                                    <a class="dropdown-item" (click)="getDetails('highRated')">Highest</a>
                                                    <a class="dropdown-item" (click)="getDetails('lowRated')">Lowest</a>
                                                    <a class="dropdown-item" (click)="getDetails('mostDiscussed')">Most Popular</a>
                                                </div>
                                            </li>
                                        </nav>
                                        <!-- <div class="down-icon">
                                            <img src="assets/images/chevron-down.svg" alt="chevron">
                                        </div> -->
                                    </div>
                                </div>
                                <div *ngFor="let review of reviews; let i = index; let last = last;">
                                    <div class="customer-feedback">
                                        <div class="client-review-details">
                                            <div class="client-details">
                                                <div class="client-img" (click)="customerDetail(review)">
                                                    <img src="{{review?.clientId?.image && review?.clientId?.image[0]}}" alt="customer" (error)="setDefaultUserPic($event, review?.clientId?.gender, review)">
                                                </div>
                                                <div class="customerRating">
                                                    <div class="customer-name">
                                                        <h6 *ngIf="review?.anonymous == false">{{review?.clientId?.firstName}} {{review?.clientId?.lastName ? review?.clientId?.lastName : ''}}</h6>
                                                        <h6 *ngIf="review?.anonymous == true">Anonymous</h6>
                                                    </div>
                                                    <div class="rating" (click)="openScrollableContent(review)">
                                                        <app-star-rating [rating]="review?.star" [size]="18"></app-star-rating>
                                                        <div class="time-added">
                                                            <p>{{ moment(review?.createdAt).fromNow() }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="flag">
                                                <img src="assets/images/flag.svg" alt="flag">
                                            </div>
                                        </div>
                                        <div class="feedback" (click)="openScrollableContent(review)">
                                            <p>{{review?.review}}</p>
                                        </div>
                                        <div class="like-icons">
                                            <ul>
                                                <li><a (click)="likeComment(review, i)">
                                                    <img src="assets/images/thumb-up-fill.svg" *ngIf="checkLikeDislike(review, 'like')" alt="thumbs-up" >
                                                    <img src="assets/images/thumb-up.svg" *ngIf="!checkLikeDislike(review, 'like')" alt="thumbs-up" >
                                                </a>{{review?.like?.length}}</li>
                                                <li><a (click)="dislikeComment(review, i)">
                                                    <img  *ngIf="checkLikeDislike(review, 'dislike')" src="assets/images/thumb-down-fill.svg" alt="thumbs-down">
                                                    <img  *ngIf="!checkLikeDislike(review, 'dislike')" src="assets/images/thumb-down.svg" alt="thumbs-down">
                                                </a>{{review?.dislike?.length}}</li>
                                                <li><a (click)="openScrollableContent(review)">
                                                    <img src="assets/images/comment.svg" alt="comment" *ngIf="review?.comment?.length == 0">
                                                    <img src="assets/images/comment-fill.svg" alt="comment" *ngIf="review?.comment?.length > 0" >
                                                </a>{{review?.comment?.length}}</li>
                                                <!-- <li><a><img src="assets/images/share-post.svg" alt="share"></a></li> -->
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="hr mt-3 mb-3"></div>
                                </div>
                                <div class="mt-4" *ngIf="!shopWall"></div>
                                <ngb-pagination
                                *ngIf="!shopWall"
                                class="d-flex justify-content-center m-auto"
                                [(page)]="page"
                                [pageSize]="pageSize"
                                [maxSize]="3"
                                [boundaryLinks]="false"
                                [collectionSize]="ratingDetails.result_pageInfo.collectionSize"
                                (pageChange)="onPageChange()">
                                </ngb-pagination>
                            </div>
                        </div>
                    </div>
        </div>
        <!--div class="container-fluid">
            <div class="row">
                <div class="col-12 p-0">
                    <div class="book-us">
                        <a (click)="navigateToCheckout()">Book Me</a>
                    </div>
                </div>
            </div>
        </div-->
    </div>
    <div class="rating-review-desktop-section" *ngIf="!isMobile">
        <div class="wallpaper" *ngIf="!shopWall">
            <img src="../../../../assets/images/reviews/desktop-wallpaper.svg" alt="">
        </div>
        <div class="container">
            <div class="card" *ngIf="!shopWall">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="rating-section" *ngIf="overallRating">
                                <h5 class="heading">Customer Rating</h5>
                                <div class="rating">
                                    <app-star-rating [rating]="overallRating?.star" [size]="18"></app-star-rating>
                                    <div class="rating-score">
                                        <p class="m-0">{{overallRating?.star | number:'1.0-1'}} out of 5</p>
                                    </div>
                                    <div class="total-rating">
                                        <p class="m-0">{{overallRating?.star_count | number: '1.0-0'}} Total ratings</p>
                                    </div>
                                </div>
                                <div class="progress-ratings" *ngIf="percentRatings">
                                    <div class="progressBar-wrapper" *ngIf="percentRatings?.five_star !== undefined" (click)="setStarFilter(5)"> 
                                        <div class="rating-stars">
                                            <p>5 star</p>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" [style.width]="percentRatings?.five_star + '%'" aria-valuenow="percentRatings?.five_star" aria-valuemin="0" aria-valuemax="100"
                                            [ngClass]="{'grayed': this.starFilter.isSet && this.starFilter.filter != 5}"></div>
                                        </div>
                                        <div class="rating-percent">
                                            <p>{{percentRatings?.five_star || 0}}%</p>
                                        </div>
                                    </div>
                                    <div class="progressBar-wrapper" *ngIf="percentRatings?.four_star !== undefined" (click)="setStarFilter(4)"> 
                                        <div class="rating-stars">
                                            <p>4 star</p>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" [style.width]="percentRatings?.four_star + '%'" aria-valuenow="percentRatings?.four_star" aria-valuemin="0" aria-valuemax="100"
                                            [ngClass]="{'grayed': this.starFilter.isSet && this.starFilter.filter != 4}"></div>
                                        </div>
                                        <div class="rating-percent">
                                            <p>{{percentRatings?.four_star || 0}}%</p>
                                        </div>
                                    </div>
                                    <div class="progressBar-wrapper" *ngIf="percentRatings?.three_star !== undefined" (click)="setStarFilter(3)"> 
                                        <div class="rating-stars">
                                            <p>3 star</p>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" [style.width]="percentRatings?.three_star + '%'" aria-valuenow="percentRatings?.three_star" aria-valuemin="0" aria-valuemax="100"
                                            [ngClass]="{'grayed': this.starFilter.isSet && this.starFilter.filter != 3}"></div>
                                        </div>
                                        <div class="rating-percent">
                                            <p>{{percentRatings?.three_star || 0}}%</p>
                                        </div>
                                    </div>
                                    <div class="progressBar-wrapper" *ngIf="percentRatings?.two_star !== undefined" (click)="setStarFilter(2)"> 
                                        <div class="rating-stars">
                                            <p>2 star</p>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" [style.width]="percentRatings?.two_star + '%'" aria-valuenow="percentRatings?.two_star" aria-valuemin="0" aria-valuemax="100"
                                            [ngClass]="{'grayed': this.starFilter.isSet && this.starFilter.filter != 2}"></div>
                                        </div>
                                        <div class="rating-percent">
                                            <p>{{percentRatings?.two_star || 0}}%</p>
                                        </div>
                                    </div>
                                    <div class="progressBar-wrapper" *ngIf="percentRatings?.one_star !== undefined" (click)="setStarFilter(1)"> 
                                        <div class="rating-stars">
                                            <p>1 star</p>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" [style.width]="percentRatings?.one_star + '%'" aria-valuenow="percentRatings?.one_star" aria-valuemin="0" aria-valuemax="100"
                                            [ngClass]="{'grayed': this.starFilter.isSet && this.starFilter.filter != 1}"></div>
                                        </div>
                                        <div class="rating-percent">
                                            <p>{{percentRatings?.one_star || 0}}%</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="review-feature">
                                <h5 class="heading">By Feature</h5>
                                <div class="rating">
                                    <div class="features">
                                        <p class="m-0">Communication Rating</p>
                                    </div>
                                    <app-star-rating [rating]="overallRating?.communication_star" [size]="18"></app-star-rating>
                                    <div class="total-rating">
                                        <p class="m-0">{{(overallRating?.communication_star | number:'1.0-1')? (overallRating?.communication_star | number:'1.0-1') : '0.0'}}</p>
                                    </div>
                                </div>
                                <div class="rating">
                                    <div class="features">
                                        <p class="m-0">Skills Ratings</p>
                                    </div>
                                    <app-star-rating [rating]="overallRating?.skill_star" [size]="18"></app-star-rating>
                                    <div class="total-rating">
                                        <p class="m-0">{{(overallRating?.skill_star | number:'1.0-1') ? (overallRating?.skill_star | number:'1.0-1') : '0.0'}}</p>
                                    </div>
                                </div>
                                <div class="rating">
                                    <div class="features">
                                        <p class="m-0">Services Ratings</p>
                                    </div>
                                    <app-star-rating [rating]="overallRating?.massage_star" [size]="18"></app-star-rating>
                                    <div class="total-rating">
                                        <p class="m-0">{{(overallRating?.massage_star | number:'1.0-1') ? (overallRating?.massage_star | number:'1.0-1'): '0.0'}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="feedback-section">
                <div class="header" *ngIf="!shopWall">
                    <h3>Customer Reviews</h3>
                    <p>{{totalReviews}} Review</p>
                </div>
                <div class="card" [class.border-none]="shopWall">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item p-4" *ngIf="!shopWall">
                            <div class="filter-search m-0">
                                <div class="search">
                                    <nav class="navbar">
                                        <form class="form-inline">
                                            <input class="form-control me-sm-2" name="searchKeyword" [(ngModel)]="searchKeyword" (input)="search()" type="search" placeholder="Search" aria-label="Search">
                                            <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
                                            <div class="search-btn">
                                                <img src="assets/images/search.svg" alt="search">
                                            </div>
                                        </form>
                                    </nav>
                                </div>
                                <div class="filter">
                                    <nav class="navbar navbar-expand-lg navbar-light">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                {{reviewType === 'mostLiked' ? 'Most useful' : reviewType === 'recentRating' ? 'Latest' : reviewType === 'highRated' ? 'Highest' : reviewType === 'lowRated' ? 'Lowest' : reviewType === 'mostDiscussed' ? 'Most Popular' : ''}}
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <!-- <a class="dropdown-item" (click)="getDetails('byId')"></a> -->
                                                <a class="dropdown-item" (click)="getDetails('mostLiked')">Most useful</a>
                                                <a class="dropdown-item" (click)="getDetails('recentRating')">Latest</a>
                                                <a class="dropdown-item" (click)="getDetails('highRated')">Highest</a>
                                                <a class="dropdown-item" (click)="getDetails('lowRated')">Lowest</a>
                                                <a class="dropdown-item" (click)="getDetails('mostDiscussed')">Most Popular</a>
                                            </div>
                                        </li>
                                    </nav>
                                    <!-- <div class="down-icon">
                                        <img src="assets/images/chevron-down.svg" alt="chevron">
                                    </div> -->
                                </div>
                            </div>
                        </li>
                        <ng-container *ngFor="let review of reviews; let i = index; let last = last;">
                            <li class="list-group-item mb-1 p-4">
                                <div class="customer-feedback">
                                    <div class="client-review-details">
                                        <div class="client-details">
                                            <div class="client-img" (click)="customerDetail(review)">
                                                <img src="{{review?.clientId?.image && review?.clientId?.image[0]}}" alt="customer" (error)="setDefaultUserPic($event, review?.clientId?.gender)">
                                            </div>
                                            <div class="customerRating">
                                                <div class="customer-name">
                                                    <h6 *ngIf="review?.anonymous == false">{{review?.clientId?.firstName}} {{review?.clientId?.lastName ? review?.clientId?.lastName : ''}}</h6>
                                                    <h6 *ngIf="review?.anonymous == true">Anonymous</h6>
                                                </div>
                                                <div class="rating">
                                                    <app-star-rating [rating]="review?.star" [size]="18"></app-star-rating>
                                                    <div class="time-added">
                                                        <p class="m-0">{{ moment(review?.createdAt).fromNow() }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flag">
                                            <img src="assets/images/flag.svg" alt="flag">
                                        </div>
                                    </div>
                                    <div class="feedback">
                                        <p>{{review?.review}}</p>
                                    </div>
                                    <div class="like-icons">
                                        <ul>
                                            <li>
                                                <a (click)="likeComment(review, i)">
                                                    <img src="assets/images/thumb-up-fill.svg" *ngIf="checkLikeDislike(review, 'like')" alt="thumbs-up" >
                                                    <img src="assets/images/thumb-up.svg" *ngIf="!checkLikeDislike(review, 'like')" alt="thumbs-up" >
                                                </a>{{review?.like?.length}}
                                            </li>
                                            <li>
                                                <a (click)="dislikeComment(review, i)">
                                                    <img  *ngIf="checkLikeDislike(review, 'dislike')" src="assets/images/thumb-down-fill.svg" alt="thumbs-down">
                                                    <img  *ngIf="!checkLikeDislike(review, 'dislike')" src="assets/images/thumb-down.svg" alt="thumbs-down">
                                                </a>{{review?.dislike?.length}}
                                            </li>
                                            <li>
                                                <a>
                                                    <img src="assets/images/comment.svg" alt="comment" *ngIf="review?.comment?.length == 0">
                                                    <img src="assets/images/comment-fill.svg" alt="comment" *ngIf="review?.comment?.length > 0" (click)="openScrollableContent(review)">
                                                </a>{{review?.comment?.length}}
                                            </li>
                                            <li>
                                                <a>
                                                    <img src="assets/images/share-post.svg" alt="share">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ng-container>
                    </ul>
                </div>
                <div class="mt-4"></div>
                <ngb-pagination *ngIf="!shopWall"
                class="d-flex justify-content-center m-auto"
                [(page)]="page"
                [pageSize]="pageSize"
                [maxSize]="15"
                [boundaryLinks]="false"
                [collectionSize]="ratingDetails.result_pageInfo.collectionSize"
                (pageChange)="onPageChange()">
                </ngb-pagination>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isMobile" class="user-guide-popup">
    <div *ngIf="home" class="header-home">
        <div class="text">Click here to go back to home screen.</div>
        <img class="arrow" src="/assets/images/user-guide-popups/pointer.svg">
        <div class="btn" (click)="gotIt('home')">Got It</div>
        <div class="icon">
          <img src="assets/images/footer/home-green.svg">
        </div>
    </div>
  </div>