nav.shop-navbar {
    background-color: #ffffff;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        li {
            width: 100%;
            text-align: center;
            padding: 10px 0;
            cursor: pointer;
            &.active {
                color: red;
                border-bottom: solid 2px;
                border-color: red;
            }
        }
    }
}