<div class="parentLoader" *ngIf="isLoading">
    <app-custom-spinner></app-custom-spinner>
</div>
<ng-template #success let-modal>
    <div class="custom-modal">
        <div class=" modal-header">
            <h4 class="modal-title">Congratulation</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            </button>
        </div>
        <div class="modal-body text-center">
            <img src="../../../assets/images/login/success.svg" alt="">
            <p>We have sent a reset password link to your <br> email {{forgetPasswordFrom.value.email}}, please check.</p>
            <button class="btn continue-login" (click)="close()">Close</button>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</ng-template>

<div class="container mt-4" *ngIf="!isLoading">
    <button class="backButton" (click)="navigateToSignin()"><i class="bi bi-arrow-down-left"></i></button>
    <div class="content">
        <div class="text-center">
            <div class="forgot-password-img">
                <!-- <img src="assets/images/logo.svg" alt="logo"> -->
                <img src="assets/images/forgot_password_img.svg" alt="logo">
            </div>
        </div>
        <div class="info-message">
            <h3>Forgot Password?</h3>
            <p>Don't worry! We will send you a link in your email to reset your password.</p>
        </div>
        <form [formGroup]="forgetPasswordFrom" (ngSubmit)="onSubmit(success)"> 
            <div class="form-group ">
                <input type="email" class="form-control" formControlName="email" placeholder="Enter your registered email address"  [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                <div class="field-filled" *ngIf="submitted && f.email.valid">
                    <img src="assets/images/checkbox-circle-line.svg" alt="see password">
                </div>
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.value && f.email.invalid">Please enter a valid email address</div>
                </div>
            </div>
            <button type="submit" class="btn w-100 rounded-pill btn-submit" name="continue">Reset Password</button>
        </form>
    </div>
</div>