.container h2{
    font-family: 'Times New Roman',
      Times, serif;
    font-weight: bold;

}

.form-control{
    border-radius: 0px;
    line-height: 1.5;
    text-align: center;
}

.header{
    background-color: black;
    color: white;
    height: 36px;
    padding-left: 41px;
    padding-top: 5px;
}

// New Code
.companyLogo{
    img{
        width: auto;
    }
}
.heading{
    text-align: left;
    margin: 26px 0 37px;
    h3{
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
        color: #90C63E;
    }
    p{
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #A6AEC1;
        text-align: left;
        margin-bottom: 0;
    }
}
form{
    .form-group{
        position: relative;
        margin-bottom: 40px;
        .form-icon{
            position: absolute;
            top: 15px;
            left: 28px;
            img{
                width: 20px;
            }
        }
        .field-filled{
            position: absolute;
            top: 15px;
            right: 17px;
            img{
                width: 21px;
            }
        }
    }
    .form-control{
        background: #FFFFFF;
        border: 1px solid #90C63E;
        border-radius: 30px;
        padding: 18px 15px 18px 30px;
        height: 55px;
        font-size: 16px;
        line-height: 19px;
        color: rgba(13, 13, 13, 0.9);
        text-align: left;
        &::placeholder{
            font-size: 16px;
            line-height: 19px;
            color: #A6AEC1;
        }
        &.ng-valid {
            color: #90C63E;
        }
        &.is-invalid {
            border-color: #dc3545;
            color: #dc3545;
        }
    }
    
    
}

.info-message {
    text-align: center;
    h3 {
        font-size: 25px;
        margin: 20px;
    }
    p {
        font-size: 18px;
        color: #A6AEC1;
    }
}

.forgot-password-img {
    margin: 100px 0;
}

button.backButton{
    font-size: 32px;
    border: none;
    background-color: transparent;
    i::before {
        transform: rotate(45deg);
    }
}

.content {
    max-width: 540px;
    margin: auto;
}

// Buttons
button.btn-submit{
    background-color: #90C63E;
    border: 1px solid;
    border-color: #90C63E;
    border-radius: 30px;
    height: 55px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    &:focus {
        box-shadow: 0 0 0 0.2rem rgb(144 198 62 / 37%);
    }
}

// Validation
.invalid-feedback {
    padding-left: 32px;
}
