.service-item {
    .card {
        border-radius: 10px;
        border: unset;
        /* elevation/100 */
        box-shadow: 0px 0px 1px 0px rgba(15, 34, 67, 0.08), 0px 8px 64px 0px rgba(15, 34, 67, 0.06);
        .card-body {
            img.product-img {
                width: 90px;
                height: auto;
                border-radius: 10px;
                object-fit: cover;
            }
            .details {
                p.price {
                    color: #90C63E;
                    font-size: 20px;
                    font-weight: 500;
                    span.duration {
                        font-size: 16px;
                        color: #A6AEC1;
                        font-weight: 400;
                    }
                }
                button.btn-book-service {
                    background-color: #90c63e;
                    color: #ffffff;
                    box-shadow: unset;
                    font-size: 14px;
                }
                button.btn-book-times {
                    border: unset;
                    box-shadow: unset;
                    font-size: 12px;
                    color: #A6AEC1;
                }
            }
        }
        
    }
}