<div class="service-item">
    <div class="card">
        <div class="card-body">
            <div class="d-flex gap-3">
                <img class="product-img" src="https://picsum.photos/300/200" alt="Display Picture" />
                <div class="details">
                    <h6>Remedial Massage</h6>
                    <p class="price">$50.00<span class="duration">/for 1hr</span></p>
                    <button class="btn btn-book-service">Book Service</button>
                    <button class="btn btn-book-times">with 38 total bookings</button>
                </div>
            </div>
        </div>
    </div>
</div>