.bg-primary {
    background-color: #000000!important;
}

#ngbDatepickerDayView {
    // background: transparent;
    // border-radius: .25rem;
    // height: 2rem;
    // line-height: 2rem;
    // text-align: center;
    // width: 2rem;
    background-color: #000000 !important;
}

.ngb-dp-day {
    z-index: 1;
    background-color: #000000 !important;
}
