<div class="top-spacing">
    <div class="container">
        <div class="vote-rate-wrapper d-flex">
            <div class="vote-icon-wrapper">
                <img src="../../../../assets/images/posite-vote.png" alt="">
            </div>
            <div class="vote-rate-message">
                <p class="vote-message">Your Rate here</p>
                <div class="rating-number-wrapper d-flex">
                    <app-star-rating [rating]="5" [size]="18"></app-star-rating>
                    <div class="rating-total-wrapper d-flex">
                        <span class="rating-number">5.0</span>
                        <p class="total-rating">[50]</p>
                    </div>
                    <!-- <div class="rating-number">
                   
                </div> -->
                </div>
            </div>
            
        </div>

        <div class="understand-rate-wrapper">
            <div class="understand-wrapper">
                <p>Understand Your Rate</p>
            </div>
            <div class="description1-wrapper">
                <P>
                    After having a service, your will get a rate from your service provider based on your behavior. People will normally get 5 star review if they treat their service provider good. 

                    Language abuse, discrimination, sex harrasement and bad attitude will result score lose 

                    Low rate may lead to difficult in booking an appointment in the future.
                </P>
            </div>
        </div>
        
    </div>
</div>
