<div class="category-list">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="product">
                <img class="product-img" src="https://picsum.photos/300/200" alt="Sample" />
                <div class="details">
                    <p class="name m-0">New Arrival</p>
                    <small class="text-muted">34 Products</small>
                </div>
            </div>
            <i class="bi bi-chevron-right"></i>
        </li>
        <li class="list-group-item">
            <div class="product">
                <img class="product-img" src="https://picsum.photos/300/200" alt="Sample" />
                <div class="details">
                    <p class="name m-0">New Arrival</p>
                    <small class="text-muted">34 Products</small>
                </div>
            </div>
            <i class="bi bi-chevron-right"></i>
        </li>
        <li class="list-group-item">
            <div class="product">
                <img class="product-img" src="https://picsum.photos/300/200" alt="Sample" />
                <div class="details">
                    <p class="name m-0">New Arrival</p>
                    <small class="text-muted">34 Products</small>
                </div>
            </div>
            <i class="bi bi-chevron-right"></i>
        </li>
        <li class="list-group-item">
            <div class="product">
                <img class="product-img" src="https://picsum.photos/300/200" alt="Sample" />
                <div class="details">
                    <p class="name m-0">New Arrival</p>
                    <small class="text-muted">34 Products</small>
                </div>
            </div>
            <i class="bi bi-chevron-right"></i>
        </li>
        <li class="list-group-item">
            <div class="product">
                <div class="details">
                    <p class="name m-0">All Products</p>
                    <small class="text-muted">347 Products</small>
                </div>
            </div>
            <i class="bi bi-chevron-right"></i>
        </li>
    </ul>
</div>