<div class="freelancer-profile">
    <app-profile-display-picture [data]="data"></app-profile-display-picture>
    <br>
    <app-profile-details-section></app-profile-details-section>
    <div class="review-section pt-4 border-top">
        <h5 class="ms-3">Customer Reviews (34)</h5>
        <app-review-list [minimize]="true"></app-review-list>
    </div>
    <div class="services-section p-3">
        <h5>Services</h5>
        <app-service-list></app-service-list>
    </div>
    <br>
    <br>
    <br>
    <button class="btn btn-book">Book Me</button>
</div>