.section {
    padding: 80px 0;
}
.giftcard-value-selection {
    background-image: url(/assets/images/giftcard/receiver/gift-bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #EFF7E4;
    padding: 20px;
    border-radius: 5px;
    p.for-input-label {
        background: #90c63e;
        color: #fff;
        position: relative;
        z-index: 1;
        font-size: 14px;
        border-radius: 3px;
        padding: 3px 0;
        font-weight: 300;
    }
    input.gc-value {
        background: #fff;
        text-align: center;
        color: #90c63e;
        font-weight: 500;
        padding: 14px 0px 10px 0px!important;
        font-size: 22px;
        outline: none;
        border: none;
        box-sizing: border-box;
        border-radius: 0 0 10px 10px;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' stroke='%2390c63e' stroke-width='3' stroke-dasharray='10%2c 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
        margin-top: -5px;
    }
    input.gc-value.is-invalid {
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' stroke='%23dc3545' stroke-width='3' stroke-dasharray='10%2c 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e")!important;
        color: #dc3545!important;
        background-color: #ffeef0!important;
    }
    .values {
        display: flex;
        justify-content: space-between;
        .item {
            background: #fff;
            color: #90c63e;
            padding: 4px 14px;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}
.receiver-details {
    margin-top: 30px;
}
.form-title {
    font-weight: 500;
    margin-bottom: 10px;
}
.rounded-input .input-group-text {
    background-color: transparent;
    border: none;
}

.rounded-input .form-control {
    background-color: transparent;
    border: none;
}

.rounded-input {
    background-color: #fff;
    border-radius: 25px;
    padding: 5px 8px;
}

.btn.btn-light-green {
    background-color: #90C63E;
    color: #fff;
    border: none;
    border-radius: 0;
    padding: 15px 0;
    width: 100%;
}

.btn.btn-fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.mobile {
    display: none;
}
.desktop {
    display: block;
    .banner {
        height: 420px;
        background: #FAFCF5;
        position: relative;
        h1 {
            color: #90C63E;
            position: absolute;
            top: 210px;
            left: 220px;
        }
        img.confetti {position: absolute;left: 0;bottom: 0;width: 1310px;}
        img.illustration {position: absolute;right: 140px;bottom: 0;width: 420px;}
    }
    .user-guide {
        display: flex;
        justify-content: space-between;
        gap: 5px;
        margin-top: 90px;
        .step {
            display: flex;
            gap: 10px;
            width: 100%;
            .guide {
                width: 100%;
                .title {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    p {
                        font-weight: 500;
                        font-size: 18px;
                        color: #90C63E;
                    }
                    span.border-indicator {
                        border-top: 1px solid #F0F0F0;width: 100%;height: 1px;
                    }
                }
                .some-texts {
                    color: rgba(0, 0, 0, 0.45);
                }
            }
            .num {
                width: 28px;
                height: 25px;
                display: flex;
                justify-content: center;
                color: rgba(0, 0, 0, 0.25);
                border: 1px solid rgba(0, 0, 0, 0.25);
                border-radius: 32px;}
            &.active .num {background: #90C63E;
                border: 1px solid #508401;color: #ffffff;}
        }
    }
    .gc-theme {
        .header-title {
            display: flex;
            justify-content: space-between;
            h4 {color: #A6AEC1;}
            .action-btns {
                display: flex;
                gap: 10px;
            }
            button.btn {
                border-radius: 5px;
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 8px 25px;
                border: 1px solid #90C63E;
                img {width: 16px;}
                &.btn-next {
                    background: #90C63E;
                    color: #ffffff;
                }
                &.btn-back {
                    background: #ffffff;
                    color: #90C63E;
                }
            }
        }
        .theme-selection-container {
            background: #FFFFFF;
            box-shadow: 0px 8px 64px rgba(0, 0, 0, 0.1), 0px 0px 1px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            .theme-value {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                border: 1px solid #F2C42C;
                border-radius: 35.235px;
                padding: 3px 0px!important;
                width: 64px;
                margin: 0 auto;
            }
            .theme {
                width: 125px;
                .card {
                    height: 125px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        width: 100%;
                        height: 75px!important;
                    }
                } 
            }
        }
    }
    .giftcard-value-selection, .card {
        border: none;
        box-shadow: 0px 8px 64px rgba(0, 0, 0, 0.1), 0px 0px 1px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }
    .giftcard-value-selection .values {
        display: flex;
        justify-content: space-evenly;
    }
    .rounded-input {
        background-color: #f8f8fb;
    }
    .sample-template {
        h4 {color: #A6AEC1;}
        .card-theme-container {
            position: relative;
            .value {
                position: absolute;
                right: 0;
                bottom: 40px;
                font-size: 24px;
                width: 120px;
            }
        }
        .gc-letter {
            box-shadow: 0px 8px 64px rgba(15, 34, 67, 0.06), 0px 0px 1px rgba(15, 34, 67, 0.08);
            border-radius: 10px;
            margin: -15px;
            padding: 15px;
            .card {
                border: none;
                background-color: rgb(255 255 255 / 75%);
                border: none;
                box-shadow: 0px 8px 64px rgba(15, 34, 67, 0.06), 0px 0px 1px rgba(15, 34, 67, 0.08);
                border-radius: 10px;
            }
        }
        
    }
    .input-group {
        input.form-control {
            position: relative;
            z-index: 1;
        }
        img.calendar {
            position: absolute;
            right: 15px;
            top: 14px;
            z-index: 0;
        }
        select.form-control {
            position: relative;
            z-index: 1;
        }
        img.dropdown {
            position: absolute;
            right: 15px;
            top: 20px;
            z-index: 0;
        }
    }
    .disabled {
        opacity: 0.3;
        pointer-events: none;
    }
}
.no-border {
    width: 100%;
    border: none;
    background-color: transparent;
    text-align: justify;
}
@media only screen and (max-width: 1023px) {
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }
}
.radio-container {
    margin-bottom: 3px;
    .radio-btn-q {
        display: flex;
        gap: 50px;
        .form-check-radio.active label {
            color: #90c63e!important;
        }
    }
    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label
    {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        color: #A6AEC1;
    }
    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        height: 20px;
        border: 2px solid #A6AEC1;
        border-radius: 100%;
        background: #fff;
    }
    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
        content: '';
        width: 12px;
        height: 12px;
        background: #90c63e;
        position: absolute;
        top: 4px;
        left: 4px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    [type="radio"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}