<div class="section applications-section bg-transparent">
    <div class="header-section text-center">
        <a href="/">
            <img src="../../assets/images/landing/BookUs_logo 1.svg" alt="">
        </a>
    </div>
    <div class="container">
        <div class="tim-title text-center" style="margin: 52px 0 30px 0;">
            <h3 style="font-weight: 600;">What would you like to do today</h3>
        </div>
        <div class="row">
            <div class="col-xs-8 col-sm-6 col-md-4 mt-4">
                <img src="assets/images/landing/services.png" class="img-rounded img-responsive" alt="Rounded Image">
                <a href="/main/home" class="btn w-100 btn-light-green btn-round mt-2">Book services</a>
                <a href="/main/home" class="btn w-100 btn-light btn-round">预约服务</a>
            </div>

            <div class="col-xs-8 col-sm-6 col-md-4 mt-4">
                <img src="assets/images/landing/business.png" class="img-rounded img-responsive" alt="Rounded Image">
                <a href="http://thebookus.com/index1English.html" class="btn w-100 btn-light-green btn-round mt-2">list your business</a>
                <a href="http://thebookus.com/index1Chinese.html" class="btn w-100 btn-light btn-round">平台功能了解</a>
            </div>
            
            <div class="col-xs-8 col-sm-6 col-md-4 mt-4">
                <img src="assets/images/landing/job.png" class="img-rounded img-responsive" alt="Rounded Image">
                <a href="http://thebookus.com/commingsoon.html" class="btn w-100 btn-light-green btn-round mt-2">looking for a job</a>
                <a href="http://thebookus.com/commingsoon.html" class="btn w-100 btn-light btn-round">找工作</a>
            </div>
        </div>
        <div class="tim-title text-center mt-5">
            <h3>Bookus Platform works hard to help customers, business and employees.<br>
                Check what we can do for you today!</h3>
        </div>
    </div>
</div>