<div class="splash-container">
    <div class="splash-screen">
      <div class="item">
        <img src="./assets/images/splash-screen/splash1.svg" />
        <div class="text">
          Bookus made online booking much easier than every
        </div>
      </div>
      <div class="item">
        <img src="./assets/images/splash-screen/splash2.svg" />
        <div class="text">
          Bookus help you find the best service provider around you
        </div>
      </div>
      <div class="item">
        <img
          style="width: 220px"
          src="./assets/images/splash-screen/splash3.svg"
        />
        <div class="text">
          Purchase an online gift card if the business is registered with
          Bookus
        </div>
      </div>
      <div class="item">
        <img src="./assets/images/splash-screen/splash4.svg" />
        <div class="text">Hair, Beauty, Nail, Massage, and more coming</div>
      </div>
    </div>
    <div class="inner-spinner">
      <img src="./assets/images/loader/circle-large-green.svg" />
    </div>
    <!--div class="brand mobile">
      <img src="./assets/images/splash-screen/mobile-logo.svg" />
    </div>
    <img
      class="logo desktop"
      src="./assets/images/splash-screen/BookUs_logo.svg"
    /-->
    <div class="brand desktop">
      <img id="company_logo"
        class="background-img"
        src="./assets/images/splash-screen/wave.svg"
      />
    </div>
  </div>