.review-list-section {
    ul.list-group.list-group-flush {
        li.list-group-item {
            background-color: unset;
        }
        &.minimize {
            -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
            from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
            mask-image: -webkit-gradient(linear, left top, left bottom, 
            from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
            max-height: 310px;
            overflow: hidden;
        }
    }
    button.btn-show-more {
        color: #90C63E;
        box-shadow: unset;
        border: unset;
    }
    
}