<div class="review-item">
    <div class="d-flex justify-content-between">
        <div class="d-flex gap-3">
            <img class="profile-img" src="https://picsum.photos/300/200" alt="Display Picture" />
            <div>
                <h6 class="name">Jessica Lambert</h6>
                <div class="start-rating">
                    <app-star-rating [rating]="3.5" [size]="16"></app-star-rating>
                    <P class="date">10 Day ago</P>        
                </div>
            </div>
        </div>
        <button class="btn-report">
            <i class="bi bi-flag"></i>
        </button>
    </div>
    <p class="review-comment">One of the best therapist in town. Mr divyesh has good knowledge of muscles.it was proffessional deep tissue theraphy with cupping theraphy by divyesh. Relaxing!! Thank u.</p>
    <div class="review-action">
        <button class="btn btn-icon"><i class="bi bi-hand-thumbs-up"></i> 12</button>
        <button class="btn btn-icon"><i class="bi bi-hand-thumbs-down"></i> 2</button>
        <button class="btn btn-icon"><i class="bi bi-chat-square-dots"></i> 3</button>
    </div>
</div>