<div class="section mobile">
  <div class="container ">
    <div
      class="card-theme-container text-center mb-5"
      [ngClass]="isMobile ? 'mt-3' : 'mt-5'"
    >
      <div class="{{ card?.card?.name }}">
        <img
          src="{{imgBaseUrl}}/uploads/{{ card?.card?.card }}"
          alt="{{ card?.card?.name }}"
          width="100%"
        />
        <div class="value-container">
          <div class="value">{{ card?.card?.giftcard_value }}</div>
        </div>
      </div>
    </div>
    <div
      class="gc-letter"
      style="background-image:url({{imgBaseUrl}}/uploads/{{card?.card?.letter_bg}})">
      <div
        class="card"
        [ngStyle]="{
          'background-color': card?.card?.name == 'Default' ? '#EFF7E4' : ''
        }"
      >
        <div class="card-body">
          <div class="to">To,</div>
          <input
            type="text"
            class="no-border"
            placeholder="Receiver Name"
            [(ngModel)]="receiver"
          />
          <textarea
            name=""
            class="no-border mt-2 mb-2"
            id=""
            rows="5"
            [(ngModel)]="message"
            placeholder="Your letter..."
          ></textarea>
          <div class="from">From</div>
          <input
            type="text"
            class="no-border"
            placeholder="Your Name"
            [(ngModel)]="sender"
          />
        </div>
      </div>
    </div>
    <div class="receiver-details">
      <div class="row">
        <div class="form-group mb-3 col-12">
          <div class="input-group rounded-input">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <img src="/assets/images/giftcard/email.svg" alt="" />
              </div>
            </div>
            <input
              type="email"
              class="form-control"
              placeholder="Email Address"
              [(ngModel)]="receiverEmail"
            />
          </div>
        </div>
        <div class="form-group mb-3 col-3">
          <div class="input-group rounded-input">
            <ngx-intl-tel-input
              [cssClass]="'form-control tel_input_rounded'"
              [preferredCountries]="preferredCountries"
              [enableAutoCountrySelect]="true"
              [enablePlaceholder]="true"
              [searchCountryFlag]="false"
              [searchCountryField]="[
                SearchCountryField.Iso2,
                SearchCountryField.Name
              ]"
              [selectFirstCountry]="false"
              [selectedCountryISO]="selectedCountryISO"
              [phoneValidation]="false"
              [separateDialCode]="separateDialCode"
              name="tel_input"
            >
            </ngx-intl-tel-input>
          </div>
        </div>
        <div class="form-group mb-3 col-9">
          <div class="input-group rounded-input">
            <input
              type="number"
              class="form-control"
              [(ngModel)]="receiverPhone"
              placeholder="Phone Number"
            />
          </div>
        </div>
        <div class="form-group mb-3 col-12">
          <div class="input-group rounded-input">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <img src="/assets/images/giftcard/clock.svg" alt="" />
              </div>
            </div>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="dateTime"
              placeholder="date"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="footer-action-buttons">
      <button class="btn btn-light-green" (click)="confirm(importantNote)">
        CONFIRM
      </button>
      <button class="btn btn-danger" (click)="cancel()">CANCEL</button>
    </div>
  </div>
</div>
<div class="section desktop">
  <div class="banner">
      <h1>Buy a Gift Card</h1>
      <img class="confetti" src="assets/images/giftcard/confetti.svg">
      <img class="illustration" src="assets/images/giftcard/gc-illustration.svg">
  </div>
  <div class="container">
      <div class="user-guide">
          <div class="step active">
              <div class="num"><img src="assets/images/giftcard/check.svg" style="width: 16px;"></div>
              <div class="guide">
                  <div class="title"><p class="m-0" style="width: 295px;">Choose Gift Card</p><span class="border-indicator" style="border-color: #90C63E;"></span></div>
                  <div class="some-texts">We have gift cards for every occasion.<br>
                      Pick your favorite card.</div>
              </div>
          </div>
          <div class="step active">
              <div class="num"><img src="assets/images/giftcard/check.svg" style="width: 16px;"></div>
              <div class="guide">
                  <div class="title"><p class="m-0" style="width: 392px;">Message and recipient</p><span class="border-indicator" style="border-color: #90C63E;"></span></div>
                  <div class="some-texts">Write a message and set the <br>
                      recipient of your gift card.</div>
              </div>
          </div>
          <div class="step active">
              <div class="num">3</div>
              <div class="guide">
                  <div class="title"><p class="m-0">Review and send</p></div>
                  <div class="some-texts">Review the details before sending <br>
                      your card out.</div>
              </div>
          </div>
      </div>
      <div class="gc-theme mt-5">
          <div class="header-title">
              <h4>Message and Recipient</h4>
              <div class="action-btns">
                  <button class="btn btn-back" type="submit" (click)="back()"><img src="assets/images/giftcard/back.svg" alt="next"> Back</button>
                  <button class="btn btn-next" type="submit" (click)="next(importantNote)">Send <img src="assets/images/giftcard/send.svg" alt="next"></button>
              </div>
          </div>
          <div class="card mt-3">
              <div class="card-body">
                  <div class="row mt-3">
                      <div class="col-lg-6">
                          <div class="receiver-details mt-0">
                              <div class="form-title">
                                  Recipient Details
                              </div>
                              <div class="row">
                                  <div class="form-group col-12">
                                      <div class="input-group rounded-input">
                                      <div class="input-group-prepend">
                                          <div class="input-group-text">
                                              <img src="/assets/images/giftcard/avatar.svg" >
                                          </div>
                                      </div>
                                      <input
                                          type="text"
                                          class="form-control"
                                          [(ngModel)]="receiver"
                                          placeholder="First Name">
                                      </div>
                                  </div>
                                  
                                  <div class="form-group col-12">
                                      <div class="input-group rounded-input">
                                          <div class="input-group-prepend">
                                              <div class="input-group-text">
                                                  <img src="/assets/images/giftcard/phone.svg" style="width: 20px;">
                                              </div>
                                          </div>
                                          <input type="number" class="form-control" [(ngModel)]="receiverPhone"  name="phone" placeholder="Phone Number">
                                      </div>
                                  </div>
                                  <div class="form-group col-12">
                                      <div class="input-group rounded-input">
                                      <div class="input-group-prepend">
                                          <div class="input-group-text">
                                              <img src="/assets/images/giftcard/email.svg" >
                                          </div>
                                      </div>
                                      <input
                                          type="email"
                                          class="form-control"
                                          [(ngModel)]="receiverEmail"
                                          name="email"
                                          placeholder="Email Address">
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="receiver-details mt-0">
                              <div class="form-title">
                                  Delivery Date and Time
                              </div>
                              <div class="row">
                                <div class="form-group m-0 col-12">
                                    <div class="radio-container">
                                        <div class="radio-btn-q">
                                            <div class="form-check-radio m-0" [class.active] = "option === 'send_now'">
                                                <input type="radio" id="send_now" name="radio-group" (click)="sendOption('send_now')" [checked]="option === 'send_now'">
                                                <label for="send_now">Send now</label>
                                            </div>
                                            <div class="form-check-radio m-0" [class.active] = "option === 'send_later'">
                                                <input type="radio" id="send_later" name="radio-group" (click)="sendOption('send_later')" [checked]="option === 'send_later'">
                                                <label for="send_later">Set delivery date</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-0 col-12" [class.disabled]="option === 'send_now'">
                                    <div class="input-group rounded-input" style="width: 70%;">
                                        <input class="form-control" placeholder="Select date when to send the gift card"
                                               name="dp" [(ngModel)]="date" ngbDatepicker #d="ngbDatepicker" [minDate]="minDate"
                                               [placement]="placement" (click)="d.toggle()" [ngModelOptions]="{standalone: true}">
                                            <img class="calendar" src="/assets/images/giftcard/calendar.svg">
                                    </div>
                                </div>
                                <div class="form-group col-12 mt-3" [class.disabled]="option === 'send_now'">
                                    <label for="time" class="mb-2" style="color: #A6AEC1;">Pick a Time</label>
                                    <div class="d-flex" style="gap: 15px;width: 70%;">
                                        <div class="input-group rounded-input">
                                            <select class="form-control" [(ngModel)]="hour" (change)="hour = $event.target.value">
                                                <option selected hidden [value]="hours[11].hour">{{hours[11].hour}}</option>
                                                <option *ngFor="let h of hours" [value]="h.hour">{{h.hour < 10 ? '0' : ''}}{{h.hour}}</option>
                                            </select>
                                            <img class="dropdown" src="/assets/images/giftcard/dropdown.svg">
                                        </div>
                                        <div class="input-group rounded-input">
                                            <select class="form-control" [(ngModel)]="minute" (change)="minute = $event.target.value">
                                                <option selected hidden [value]="minutes[0].min">0{{minutes[0].min}}</option>
                                                <option *ngFor="let min of minutes" [value]="min.min">{{min.min < 10 ? '0' : ''}}{{min.min}}</option>
                                            </select>
                                            <img class="dropdown" src="/assets/images/giftcard/dropdown.svg">
                                        </div>
                                        <div class="input-group rounded-input">
                                            <select class="form-control" [(ngModel)]="meridiem" (change)="meridiem = $event.target.value">
                                                <option value="am" selected>AM</option>
                                                <option value="pm">PM</option>
                                            </select>
                                            <img class="dropdown" src="/assets/images/giftcard/dropdown.svg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <br>
          <br>
      </div>
      <div class="sample-template mt-3">
          <div class="header-title">
              <h4>Sample Gift Card and Message</h4>
          </div>
          <div class="row">
              <div class="col-lg-6">
                  <div class="card-theme-container w-100 text-center">
                      <div class="value" [ngStyle]="{'color': card.card.colorCode}">{{card.card.giftcard_value}}</div>
                      <img src="{{imgBaseUrl}}/uploads/{{ card?.card?.card }}" alt="theme" width="100%">
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="gc-letter m-0 h-100" [class.p-0]="card.card.name == 'Default'" style="background-image:url({{imgBaseUrl}}/uploads/{{card?.card?.letter_bg}})">
                      <div class="card h-100" [ngStyle]="{'background-color': card.card.name == 'Default' ? '#EFF7E4' : ''}">
                          <div class="card-body">
                              <div class="to">To,</div>
                              <input type="text" class="no-border" placeholder="Your Friend" [(ngModel)]="receiver">
                              <textarea class="no-border mt-2 mb-2" rows="{{card.card.name == 'Default' ? 4 : 3}}" [(ngModel)]="message" placeholder="Bookus giftCard allow your to send a gift to your friends and faimilies whenever and wherever your are by just few clicks. you can also write whatever you would like to say to them in this letter. This is just a preview of our giftcard. Thank you for choosing bookus."></textarea>
                              <div class="from">From</div>
                              <input disabled type="text" class="no-border" placeholder="Your Name" [(ngModel)]="sender">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <br>
  </div>
</div>
<ng-template #importantNote let-modal>
  <div class="custom-modal-header bg-green">Please Read Carefully</div>
  <div class="modal-body">
    <div class="bookus-success-wrapper text-center">
      <div class="bookus-success mt-4">
        <p>
          The giftcard you are going to purchase is sold by
          {{ card?.shopDetails?.locationName }}. Bookus only act as a platform
          that do not held any responsibility of redeem this giftcard.
        </p>
      </div>
    </div>
    <div class="importantNote-modal-action-btns">
      <button
        type="button"
        class="btn btn-light-green btn-rounded w-100 mt-2"
        (click)="confirmWithCard(paymentMethod)"
      >
        Accept
      </button>
      <button
        type="button"
        class="btn btn-danger btn-rounded w-100 mt-2"
        (click)="modal.close('Close click')">
        CANCEL
      </button>
    </div>
  </div>
  <div class="modal-footer bg-green"></div>
</ng-template>
<ng-template #paymentMethod let-modal>
  <div class="custom-modal-header bg-green">Select Card for Payment</div>
  <div class="modal-body">
    <div class="payment-details" *ngIf="processingFee">
      <h6 class="header">Payment Details</h6>
      <div class="d-flex justify-content-between mt-3">
        <div class="light-text">Giftcard Value</div>
        <div class="green-text">{{ card?.card?.giftcard_value }}</div>
      </div>
      <div class="d-flex justify-content-between mt-2">
        <div class="light-text">Theme</div>
        <div class="green-text">${{ card?.card?.price }}</div>
      </div>
      <div class="d-flex justify-content-between mt-2">
        <div class="light-text">Processing Fee</div>
        <div class="green-text">${{ processingFee | number:'1.2-2':'en-US' }}</div>
      </div>
      <div class="d-flex justify-content-between mt-2">
        <div class="light-text">Total Payment</div>
        <div class="green-text">${{ total_amount | number:'1.2-2':'en-US' }}</div>
      </div>
    </div>
    <div class="bookus-success-wrapper text-center">
      <div class="bookus-success mt-4">
        <app-credit-card (cardOutput)="cardOutput($event)"></app-credit-card>
      </div>
    </div>
    <div class="modal-action-btns">
      <button
        type="button"
        [disabled]="isDisabled"
        class="btn btn-light-green w-100 mt-4"
        (click)="confirmPurchase()" *ngIf="processingFee">
        <span *ngIf="!isDisabled"> Confirm </span>
        <span *ngIf="isDisabled">
          Processing purchase <img src="/assets/images/loader/circle-small-white.svg" alt="Loading">
        </span>
      </button>
      <button
        type="button"
        disabled
        class="btn btn-light-green w-100 mt-4" *ngIf="!processingFee">
        <span> Loading card <img src="/assets/images/loader/circle-small-white.svg" alt="Loading"></span>
      </button>
    </div>
  </div>
  <div class="modal-footer bg-green"></div>
</ng-template>
<ng-template #content let-modal>
  <div class="custom-modal-header bg-green">Cancel Giftcard</div>
  <div class="modal-body">
    <div class="bookus-success-wrapper text-center">
      <div class="bookus-success mt-4">
        Are you sure you want to cancel the gift card?
      </div>
    </div>
    <div class="modal-action-btns mt-4">
      <button
        type="button"
        class="btn btn-light-green"
        (click)="modal.close('Close click')"
      >
        NO
      </button>
      <button
        type="button"
        class="btn btn-danger"
        (click)="modal.close('Close click')"
        [routerLink]="['/']"
      >
        CANCEL
      </button>
    </div>
  </div>
  <div class="modal-footer bg-green"></div>
</ng-template>
