<div class="voucher">
    <div class="tier-strips">
        <div class="cr23f">
            <div class="rc2">
                <div class="g37rt"></div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="details">
            <p class="discount">5% off</p>
            <small class="min-spend">Min. Spend ₱99</small>
            <div class="voucher-bandge">Shop Welcome Voucher</div>
            <small class="expiration-date">Valid Till: 31.07.2023</small>
        </div>
        <div class="action">
            <button class="btn-claim">Claim</button>
        </div>
    </div>
</div>