<!-- header -->
<div class="popup-header">
    <div class="row ">
        <div class="col-md-12 col-sm-12 col-xs-12 mainIcon">
            <p class="headerText">Congratulations !</p>
            <i class="bi bi-x bi-icon-class backIcon icon ms-auto" (click)="closeModel()"></i>
        </div>
    </div>
</div>
<!-- card -->
<div class="paymentSuccess-card">
    <!-- image -->
    <div class="row">
        <div class="col-12 txt-center">
            <img class="img" src="../../../../../assets/images/Group_1504.svg" />
        </div>
    </div>
    <!-- amount text -->
    <div class="row" style="padding-top: 15px; padding-bottom: 5px;">
        <div class="col-12 amount-txt">Successfully paid</div>
    </div>
    <!-- pay type -->
    <div class="row">
        <div class="col-12 pay-type-txt">
            For {{service}}
        </div>
    </div>
    <!-- btn -->
    <div class="row" style="padding-top: 15px;">
        <div class="col-12 txt-center">
            <button class="ok-btn" (click)="closeModel()">Ok</button>
        </div>
    </div>
</div>
<!-- footer -->
<div class="popup-footer">

</div>