<div class="recommended-section">
    <div class="header">
        <h6>Recommended For You</h6>
        <a href="http://">See All <i class="bi bi-arrow-right-short"></i></a>
    </div>
    <div class="product-list">
        <swiper-container nested="true" space-between="10" slides-per-view="2.3">
            <div class="default-space"></div>
            <swiper-slide>
                <app-product-card></app-product-card>
            </swiper-slide>
            <swiper-slide>
                <app-product-card></app-product-card>
            </swiper-slide>
            <swiper-slide>
                <app-product-card></app-product-card>
            </swiper-slide>
            <swiper-slide>
                <app-product-card></app-product-card>
            </swiper-slide>
            <swiper-slide>
                <app-product-card></app-product-card>
            </swiper-slide>
            <swiper-slide>
                <app-product-card></app-product-card>
            </swiper-slide>
        </swiper-container>
    </div>
</div>