.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
    max-width: 500px;
    //height: 650px;
    margin: 0 auto;
    margin-top: 2px;
}
.container h2{
    font-family: 'Times New Roman',
      Times, serif;
    font-weight: bold;

}
.loginbtn{
    color: #fff;
    border-color: #90C63E;
    border-radius: 0px;
    background-color: #90C63E;
    box-shadow: none !important;
    &:focus {
        outline: none !important
    }
    &:active {
        color: #fff;
    border-color: #90C63E !important;
    // border-radius: 0px !important;
    background-color: #90C63E !important;
    }
}
.form-control{
    border-radius: 0px;
    border-color: #90C63E !important;
    line-height: 1;
    text-align: center;
}

.header {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px 15px;
    background-color: #ffffff;
    p.title {
      margin: 0;
      font-weight: 500 !important;
      font-size: 19px;
      line-height: 23px;
      color: #0d0d0d;
    }
  }

 .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 #reset {
     width: 40%;
 }

 .form-container{
     margin-top:10px;
 }
 h5, p {
     text-align: center;
 }
 

 .profileForm_wrapper{
        .profile-form{
            // padding: 27px 0 22px;
            // form{
                .form-group{
                    position: relative;
                    .form-icon{
                        position: absolute;
                        top: 15px;
                        left: 28px;
                        img{
                            width: 20px;
                            padding: 0 !important;
                        }
                    }
                    .field-filled{
                        position: absolute;
                        top: 15px;
                        right: 17px;
                        img{
                            width: 21px;
                            padding: 0 !important;
                        }
                    }
                }
            //     .form-control{
            //         background: #ffffff !important;
            //         border: 1px solid   #90C63E !important;
            //         border-radius: 30px !important;
            //         padding: 17px 15px 17px 65px !important;
            //         height: 55px;
            //         font-size: 16px;
            //         line-height: 19px;
            //         text-align: left;
            //         color: rgba(0, 0, 0, 0.9);
            //         &:focus {
            //             box-shadow: none;
            //         }
            //         &::placeholder{
            //             font-size: 16px;
            //             line-height: 19px;
            //             color: #A6AEC1;
            //         }
            //    }
                .loginbtn{
                    background: #90C63E;
                    border: 1px solid #90C63E;
                    border-radius: 30px !important;
                    height: 55px;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                    color: #FFFFFF;
                }
                .signup_btn{
                    margin-top: 25px;
                    font-size: 14px;
                    line-height: 17px;
                    text-align: center;
                    color: #A6AEC1;
                    a{
                        color: #90C63E;
                    }
                }
                .mobile {
                    // display: flex;
                    // flex-flow: row;
                    // align-items: baseline;
                    // justify-content: flex-start;
                    // margin-bottom: 25px;
                    .form-control{
                        padding: 17px 15px 17px 20px !important;
                        margin-left: 10px;
                    }
                    // select{
                    //     appearance: none;
                    //     // background: #FAFAFA;
                    //     border-radius: 30px;
                    //     border: 0;
                    //     background: #FFFFFF url(/assets/images/chevron-down.svg) no-repeat 70% 50%/19px 19px !important;
                    //     border: 1px solid #90C63E !important;
                    //     max-width: 100px;
                    //     height: 55px;
                    //     overflow: hidden;
                    //     padding: 0 26px;
                    // }
                }
            // }
            .form-control-feedback{
                font-size: 80%;
                color: #dc3545;
            }
            .address-wrapper{
                background: #FFFFFF;
                box-shadow: 0px 8px 64px rgba(15, 34, 67, 0.06), 0px 0px 1px rgba(15, 34, 67, 0.08);
                border-radius: 10px;
                padding: 14px 25px 6px;
                .heading{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 18px;
                    margin-bottom: 23px;
                    img{
                        width: 24px;
                        height: auto;
                    }
                    p{
                        font-size: 15px;
                        line-height: 18px;
                        color: #0D0D0D;
                    }
                }
                .city-state {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    gap: 12px;
                }
                .form-control{
                    padding: 17px 15px 17px 20px !important;
                }
            }
            .gender-wrapper{
                .navbar{
                    padding: 0;
                    li{
                        padding: 0 !important;
                        &.show{
                            .dropdown-toggle{
                                &::before{
                                    transform: rotate(0deg);
                                }
                            }
                        }
                        a{
                            font-size: 16px;
                            line-height: 19px;
                            color: rgba(13, 13, 13, 0.9);
                            padding: 17px 15px 17px 25px;
                            position: relative;
                            .selected-gender{
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: flex-start;
                                gap: 18px;
                                img{
                                    width: 20px;
                                    height: 20px;
                                }
                                span{
                                    font-size: 15px;
                                    line-height: 18px;
                                    color: #0D0D0D;
                                }
                            }
                            
                        }
                        .dropdown-toggle{
                            &::before{
                                content: "";
                                width: 20px;
                                height: 20px;
                                position: absolute;
                                top: 16px;
                                right: 16px;
                                background: url(/assets/images/dropup-icon.svg);
                                transform: rotate(180deg);
                            }
                            &::after{
                                display: none;
                            }
                        }
                        .dropdown-menu{
                            background: #FFFFFF;
                            box-shadow: 0px 8px 64px rgba(15, 34, 67, 0.06), 0px 0px 1px rgba(15, 34, 67, 0.08);
                            border-radius: 10px;
                            width: 100%;
                            padding: 10px 11px;
                            margin-top: 0px;
                            border: 0;
                            a{
                                padding: 13px 14px;
                                border-bottom: 1px solid #EDEFF3;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: flex-start;
                                gap: 16px;
                                &:hover{
                                    background: #A6AEC1;
                                    opacity: 0.14;
                                    border-radius: 5px;
                                }
                                &:last-child{
                                    border-bottom: 0;
                                }
                                &.active{
                                    background: #A6AEC1;
                                    opacity: 0.14;
                                    border-radius: 5px;
                                }
                                img{
                                    width: 19px;
                                    height: auto;
                                    max-height: 24px;
                                }
                                span{
                                    font-size: 15px;
                                    line-height: 18px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }