<div class="header">
    <!-- <img src="assets/images/arrow-left-black.svg" alt="Back" (click)="navigateBack()"> -->
    <!-- <p class="title">{{customerId ? 'Generate Password' :'Reset Password'}}</p> -->
    <img src="../../assets/images/landing/BookUs_logo 1.svg" alt="" class="center">
</div>

<div class="container pt-4">
    <div class="row">
        <div class="col-md-12">

            <div class="mb-5 p-5 card-body" *ngIf="!customerId">
                <!-- Start Form-->
                <form class="form-container" [formGroup]="form" (ngSubmit)="confirm()">
                    <img src="../../assets/images/auth/reset.jfif" alt="" class="center" id="reset"><br>
                    <h5><b>RESET PASSWORD</b></h5>
                    <p>We've received a request to Reset your Password</p><br>
                    <div class="form-group">
                        <input
                        type="password"
                        value="12345678"
                        formControlName="password"
                        class="form-control"
                        placeholder=" Enter New Password"
                        [ngClass]="{'is-invalid': (submitted || form.get('password')?.touched) && form.get('password')?.invalid, 'is-valid': form.get('password')?.valid}"/>
                        <div *ngIf="form.get('password')?.invalid && (submitted || form.get('password')?.dirty || form.get('password')?.touched)" class="invalid-feedback">
                            <div *ngIf="form.get('password')?.errors?.required">Password is required</div>
                            <div *ngIf="form.get('password')?.errors?.minlength">Password must be at least 8 characters</div>
                        </div>  
                    </div>

                    <div class="form-group">
                        <input 
                        type="password" 
                        formControlName="confirmpassword" 
                        class="form-control" 
                        placeholder="Enter Confirm Password"
                        [ngClass]="{'is-invalid': (submitted || form.get('confirmpassword')?.touched) && form.get('confirmpassword')?.invalid, 'is-valid': form.get('confirmpassword')?.valid}"/>
                        <div *ngIf="form.get('confirmpassword')?.invalid && (submitted || form.get('confirmpassword')?.dirty || form.get('confirmpassword')?.touched)" class="form-control-feedback">
                            <div *ngIf="form.get('confirmpassword')?.errors?.required">Password is required.</div>
                            <div *ngIf="form.get('confirmpassword')?.errors?.confirmPasswordValidator">Password and Confirm Password not match.</div>
                        </div>
                    </div>
                    <!--Login Button-->
                    <button type="submit" class="btn btn-primary w-100 rounded-pill loginbtn" name="submit">Reset My Password</button>
                    <!--End Login Button-->

                </form>
                <!--End From-->

                </div>
            <div class="mb-5 profileForm_wrapper" *ngIf="customerId">
                <!-- Start Form-->
                <form [formGroup]="form" class="profile-form" (ngSubmit)="generatePassword()">
                    <div class="form-group ">
                        <div class="form-icon">
                            <img src="assets/images/email.svg" alt="mail">
                        </div>
                        <input type="email" class="form-control" readonly formControlName="email" placeholder="Email"
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                        <div class="field-filled">
                            <img src="assets/images/checkbox-circle-line.svg" alt="checkbox">
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <input
                        type="password"
                        value="12345678"
                        formControlName="password"
                        class="form-control"
                        placeholder="New Password"
                        [ngClass]="{'is-invalid': (submitted || form.get('password')?.touched) && form.get('password')?.invalid, 'is-valid': form.get('password')?.valid}"/>
                        <div *ngIf="form.get('password')?.invalid && (submitted || form.get('password')?.dirty || form.get('password')?.touched)" class="invalid-feedback">
                            <div *ngIf="form.get('password')?.errors?.required">Password is required</div>
                            <div *ngIf="form.get('password')?.errors?.minlength">Password must be at least 8 characters</div>
                        </div>  
                    </div>

                    <div class="form-group">
                        <input 
                        type="password" 
                        formControlName="confirmpassword" 
                        class="form-control" 
                        placeholder="Confirm Password"
                        [ngClass]="{'is-invalid': (submitted || form.get('confirmpassword')?.touched) && form.get('confirmpassword')?.invalid, 'is-valid': form.get('confirmpassword')?.valid}"/>
                        <div *ngIf="form.get('confirmpassword')?.invalid && (submitted || form.get('confirmpassword')?.dirty || form.get('confirmpassword')?.touched)" class="form-control-feedback">
                            <div *ngIf="form.get('confirmpassword')?.errors?.required">Password is required.</div>
                            <div *ngIf="form.get('confirmpassword')?.errors?.confirmPasswordValidator">Password and Confirm Password not match.</div>
                        </div>
                    </div>
                    <!--Login Button-->
                    <button type="submit" class="btn btn-primary w-100  loginbtn">CONFIRM</button>
                    <!--End Login Button-->

                </form>
                <!--End From-->

                </div>
            </div>
        </div>
    </div>

