<!-- header -->
<div class="popup-header">
    <div classs="row ">
        <div class="col-md-12 col-sm-12 col-xs-12 mainIcon">
            <p class="headerText">Add Money</p>
            <i class="bi bi-x bi-icon-class backIcon icon ms-auto" (click)="closeModel()"></i>
        </div>
    </div>
</div>
<!-- card -->
<div class="appointment-card">
    <p class="text">How Much Would You Like To Top Up?</p>
    <div class="tap-up text-center">
        <p class="small-text gray-text">enter Your Top up amount</p>
        <input type="number" value="$" class="input-green" [(ngModel)]="amount" [ngModelOptions]="{ standalone: true }" (ngModelChange)="checkProcessingFee($event)">
        <p *ngIf="processing_fee" class="processing-fee mt-2">Plus processing fee ${{processing_fee?.toFixed(2)}}</p>
    </div>
    <p class="text mb-2">How Would You Like To Pay?</p>
    <p class="gray-text mb-2">Use An Existing Card</p>
    <div class="cards">
        <div *ngFor="let card of cards" class="container-radio" [class.active]="defaultCard === card.id">
            <label>
                <div class="radio-cont">
                    <input type="radio" (click)="selectCard(switch_card_modal, card.id)" name="card" style="top: 0;left: 0;width: 80%;height: 40px;" [checked]="defaultCard === card.id" >
                    <span class="checkmark"></span>
                    <div class="info">
                        <img *ngIf="card.brand == 'MasterCard'" src="/assets/images/wallet/mc.svg" alt="card">
                        <img *ngIf="card.brand == 'Visa'" src="/assets/images/wallet/vc.svg" alt="card">
                        <img *ngIf="card.brand == 'American Express'" src="/assets/images/wallet/am.svg" alt="card">
                        <div class="name">{{brandName(card.brand)}} *** {{card.last4}}</div>
                    </div>
                </div>
            </label>
        </div>
        
        <p *ngIf="cards.length >= 1" class="text mt-3 text-center">Or</p>

        <div *ngIf="cards.length <= 0" class="nocard text-center">
            <img src=".././../../assets/images/wallet/nocard.svg" alt="">
            <p class="mutted-text mt-3">
                Sorry, you did not add any card yet.
            </p>
        </div>
        <button class="btn-gray w-100" (click)="add_card(add_new_card)"><img src="/../assets/images/wallet/plus-circle.svg"> add a new card</button>
    </div>
    <div style="padding-top: 35px; text-align: center;">
        <button class="ok-btn" [disabled]="isClicked" (click)="addCredits()">Confirm</button>
    </div>
</div>
<!-- footer -->
<div class="popup-footer"></div>

<ng-template #add_new_card let-modal>
    <div class="custom-modal add_card">
        <div class="modal-header">
            <h4 class="modal-title">Add New Credit Card</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            </button>
            </div>
            <div class="modal-body">
                <p class="mutted-text">Securely save your card details for hassle free payments.</p>
                <form action="">
                    <div class="row">
                        <div class="form-group col-12">
                            <label for="inputEmail4">Card Holder Full Name</label>
                            <input type="email" class="form-control" id="inputEmail4" [(ngModel)]="ch" [ngModelOptions]="{standalone: true}" placeholder="Add Card Holder Full Name">
                        </div>
                        <div class="form-group col-12">
                            <label for="inputPassword4">Card Number</label>
                            <input type="text" class="form-control" id="inputPassword4" maxlength="19" [(ngModel)]="cc" [ngModelOptions]="{standalone: true}" placeholder="Credit or Debit Card Number" (ngModelChange)="cc_format($event)">
                        </div>
                        <div class="form-group col-6">
                            <label for="inputPassword4">Expiry Date</label>
                            <input type="text" class="form-control" id="inputPassword4" maxlength="9" [(ngModel)]="ed" [ngModelOptions]="{standalone: true}" placeholder="MM / YY" (ngModelChange)="ed_format($event)">
                        </div>
                        <div class="form-group col-6">
                            <label for="inputPassword4">CVV</label>
                            <input type="text" class="form-control" id="inputPassword4" maxlength="4" [(ngModel)]="cv" [ngModelOptions]="{standalone: true}" placeholder="123">
                        </div>
                    </div>
                    <p class="mutted-text d-flex align-items-center gap-5">
                        Pay Securely With 
                        <span>
                            <img src="/assets/images/wallet/visa.svg" class="m-0" alt="">
                        </span>
                        <span>
                            <img src="/assets/images/wallet/master_card.svg" class="m-0" alt="">
                        </span>
                    </p>
                    <div class="actions">
                        <button type="submit" class="btn btn-accept" (click)="save_card()">Save</button>
                        <div class="btn btn-cancel" (click)="modal.dismiss('Cross click')">Cancel</div>
                    </div>
                </form>
            </div>
        <div class="modal-footer">
        </div>
    </div>
</ng-template>
<ng-template #switch_card_modal let-modal>
    <div class="custom-modal add_card">
        <div class="modal-header">
            <h4 class="modal-title">Switch The Default Card</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            </button>
            </div>
            <div class="modal-body text-center">
                <img class="mt-3 mb-3" src="/assets/images/wallet/card.svg" alt="delete">
                <p>Are you sure you want to switch the default card to this card?</p>
                <div class="actions">
                    <button type="submit" class="btn btn-accept" (click)="switch_card()">Yes</button>
                    <div class="btn btn-cancel" (click)="cancelSwitch()">No</div>
                </div>
            </div>
        <div class="modal-footer">
        </div>
    </div>
</ng-template>