body {
    overflow: hidden;
}

a {
    text-decoration: none !important;
    outline: none;
}
.hr {
    border-top: 1px solid #E1E3EA;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.page-wrapper {
    margin-bottom: 45px;
    position: relative;
    @media all and (max-width: 760px) {
        margin-top: 50px;
        height: calc(100vh - 60px);
        overflow: auto;
        overflow-x: hidden;
    }
    p {
        margin-bottom: 0;
    }
    ul {
        margin-bottom: 0px;
    }
    h5 {
        font-size: 17px;
        font-weight: 600;
    }
    .page-header {
        position: fixed;
        z-index: 9999;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        .arrow-back {
            width: 44px;
            height: 44px;
            background: rgba(255, 255, 255, 0.2);
            box-shadow: 0px 8px 64px rgb(15 34 67 / 6%), 0px 0px 1px rgb(15 34 67 / 8%);
            border-radius: 10px;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .heart-icon {
            width: 44px;
            height: 44px;
            background: rgba(255, 255, 255, 0.2);
            box-shadow: 0px 8px 64px rgb(15 34 67 / 6%), 0px 0px 1px rgb(15 34 67 / 8%);
            border-radius: 10px;
            border-radius: 10px;
            display: block;
            padding: 10px;
            i {
                color: #ffffff;
                font-size: 22px;
            }
            .fa-heart.active {
                color: #fd6d6d !important;
            }
        }
        &.active {
            background-color: #ffffff;
            .heart-icon {
                i {
                    color: #0d0d0d;
                }
            }
            
        }
        
    }
}

.location-wrapper {
    background-color: #90c63e;
    justify-content: center;
    .location-geo {
        text-align: center;
    }
}

.center-location-wrapper {
    background-color: grey;
    justify-content: center;
    .enter-name {
        text-align: center;
    }
}

.btn {
    border-radius: 0;
}

.new-row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.detail-span {
    margin-left: 5px;
}

.facilities-list {
    list-style: none;
    padding: 0;
    display: flex;
    width: 50%;
    @media all and (max-width: 760px) {
        overflow: auto;
        width: 100%;
    }
}

.facilityList-wrapper {
    margin: 0 10px;
    text-align: center;
}

.facilities-images {
    object-fit: cover;
    width: 35px;
}

.payment-list {
    list-style: none;
    padding: 0;
    display: flex;
    width: 50%;
}

.payment-icon {
    @media all and (max-width: 760px) {
        overflow: auto;
    }
}

.paymentList-wrapper {
    margin: 0 10px;
    text-align: center;
}

.payment-images {
    object-fit: cover;
    width: 50px;
}

.payment-images-large {
    object-fit: cover;
    width: 60px;
}

.introduction-paragraph-wrapper {
    p {
        font-size: 14px;
        padding-bottom: 10px;
    }
}

.card {
    border: none;
    box-shadow: 0px 8px 40px rgb(15 34 67 / 10%);
}

.offer-value-wrapper {
    align-items: center;
    h5 {
        font-size: 28px;
    }
    span {
        margin-left: 10px;
        s {
            color: #afaaaa;
        }
        h5 {
            font-weight: normal;
            font-size: 16px;
        }
    }
}

.offer-name-wrapper {
    h6 {
        font-weight: 600;
        margin-bottom: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.customWidth {
    width: 318px;
    margin-left: 10px;
}

.mainActin-outerbtn {
    @media all and (max-width: 767px) {
        display: none;
    }
}

.mobile-scheduleBtn {
    display: none;
    @media all and (max-width: 767px) {
        display: block;
        position: absolute;
        width: 100%;
        bottom: 0;
    }
}

.mainAction-outerbtn-mobile {
    display: none;
    @media all and (max-width: 767px) {
        display: block;
    }
}

.offer-wrapper {
    @media all and (max-width: 767px) {
        padding-bottom: 0px;
        font-size: 14px;
    }
}

.topImg {
    position: relative;
    text-align: center;
    padding: 0px 15px;
    height: 100%;
    width: 100% !important;
    display: inline-block;
    img {
        width: 100%;
    }
    .centered {
        position: absolute;
        bottom: 0;
        left: 0;
        color: white;
        background: black;
        padding: 5px;
        width: 100%;
        padding: 3px 12px;
    }
    .row {
        margin-top: 35px;
    }
    .default-image {
        position: relative;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            max-height: 340px;
        }
    }
}

.center-name {
    text-align: center;
}

.facilities-list {
    p {
        font-size: 13px;
        margin-top: 5px;
    }
    ul {
        margin-bottom: 0px;
    }
}

.shop-open-time {
    padding: 10px 0;
    .card-body {
        display: flex;
        align-items: center;
        padding: 5px 15px;
        gap: 1rem;
        .badge {
            width: 90px !important;
        }
        .detail-span {
            font-size: 14px;
        }
    }
}

.offer-icon-wrapper {
    margin-top: -10px;
    img {
        width: 30px;
    }
}

.scrolling-wrapper {
    .card-body {
        justify-content: initial;
        gap: 2rem;
    }
}

.payment-wrapper {
    font-size: 14px;
    ul {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    p {
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

.detail-span {
    font-size: 14px;
}

.rating-view-all {
    cursor: pointer;
}

.devider {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
}

.desktop-view {
    .detail-span {
        font-size: 17px;
    }
    .location-geo {
        font-size: 20px;
        padding: 6px 0px;
        margin-bottom: 0;
        font-weight: 600;
    }
    .center-location-name {
        .center-name {
            font-size: 20px;
            padding: 6px 0px;
            margin-bottom: 0;
            font-weight: 600;
        }
    }
    .shop-open-time {
        .card-body {
            .badge {
                width: 140px !important;
                font-size: 14px;
            }
            .detail-span {
                font-size: 17px;
            }
        }
    }
    .facility-wrapper {
        .facilities-heading {
            h5 {
                margin-top: 15px !important;
                font-size: 20px;
            }
        }
        .facilities-list {
            width: 100%;
            .facilities-provided {
                .facilities-images {
                    width: 50px;
                }
                p {
                    font-size: 15px;
                }
            }
        }
    }
    .payment-wrapper {
        .payment-heading {
            h5 {
                font-size: 20px;
            }
        }
        .payment-provided {
            .payment-images-large {
                width: 80px;
            }
            p {
                font-size: 15px;
            }
        }
    }
    .introduction-wrapper {
        .introduction-heading {
            h5 {
                font-size: 20px;
            }
        }
        .introduction-paragraph-wrapper {
            p {
                font-size: 15px;
            }
        }
    }
    .offer-wrapper {
        .offer-heading {
            h5 {
                font-size: 20px;
                margin-bottom: 15px;
            }
        }
        .offer-card-wrapper {
            padding-left: 25px !important;
            margin-left: 0px;
        }
        .scrolling-wrapper {
            padding-left: 0 !important;
        }
    }
}

.mobile-view {
    padding-top: 60px !important;
    .shop-info {
        padding-inline: 15px;
    }
    .store-details {
        padding-bottom: 20px;
        padding-inline: 15px;
    }
    .mainActin-outerbtn {
        display: block !important;
        button {
            display: block;
            position: fixed;
            height: inherit;
            width: 100%;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
}


/* New design */

.page-wrapper {
    height: calc(calc(100vh - 0px));
}

.padding-inline-10 {
    padding-inline: 10px !important;
}


/* SERVICE SECTION */

.main-wrapper {
    z-index: 9 !important;
}

.desktop-view {
    padding-top: 70px;
}

.mobile-view {
    padding: 0 !important;
}

.page-wrapper {
    margin: 0;
    .shop-detail {
        .topImg {
            img {
                border-radius: 0 0 30px 30px;
                height: 335px;
                object-fit: cover;
            }
        }
    }

    .shop-details-image {
        min-height: 335px;
    }

    .profile-wrapper {
        padding-top: 25px;
        .store-details {
            .store-location-detail {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 16px !important;
            }
            .location-name {
                width: 80%;
                .rating {
                    color: #a6aec1;
                    font-size: 14px;
                    span {
                        display: flex;
                        flex-direction: row;
                        align-items: baseline;
                    }
                    img {
                        width: 100%;
                        max-width: 16px;
                        margin-right: 4px;
                    }
                }
            }
            .shop-names {
                h3 {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                    color: #0d0d0d;
                    margin-bottom: 10px;
                }
            }
            .overall-rating {
                p {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    text-align: left;
                    color: #a6aec1;
                    margin: 0;
                }
            }
            .contact-section {
                display: flex;
                flex-direction: row;
                align-items: center;
                flex-wrap: wrap;
                justify-content: space-between;
                .price {
                    h4 {
                        font-weight: 500;
                        font-size: 22px;
                        line-height: 31px;
                        color: #90c63e;
                        margin: 0;
                        margin-right: 9px;
                        span {
                            font-size: 13px;
                        }
                    }
                }
                .btns {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: flex-end;
                    a {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 19px;
                        color: #ffffff;
                        padding: 10px 15px;
                        box-shadow: 0px 8px 64px rgba(15, 34, 67, 0.06), 0px 0px 1px rgba(15, 34, 67, 0.08);
                        border-radius: 5px;
                        margin-bottom: 5px;
                        span {
                            margin-right: 10px;
                            text-transform: capitalize;
                        }
                    }
                    .bg-green {
                        background-color: #90c63e;
                    }
                    .bg-pink {
                        background-color: #fd6d6d;
                        margin-left: 8px;
                    }
                }
            }

            .contact-section-wrapper {
                .contact-section-container {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    .contact-section {
                        flex: 50%;
                        min-width: 50%;
                        max-width: 50%;
                        margin-bottom: 12px;
                    }
                    .contact-btn-container {
                        width: 100%;
                        margin:5px;
                        border-radius: 20px;
                        .contact-btn {
                            padding: 3px;
                            display: flex;
                            align-items: center;
                            line-height: 10px;
                            font-weight: 400;
                            font-size: 14px;
                            .contact-btn-icon {
                                width: 35px;
                                height: 34px;
                                border-radius: 50%;
                                margin-right: 7px;
                            }
                        }
                    }
                    .call {
                        border: 2px solid #E1B829;
                        .contact-btn {
                            color: #E1B829;
                            .contact-btn-icon {
                                background-color: #E1B829;
                                padding: 9px;
                            }
                        }
                    }
                    .mail {
                        border: 2px solid #FD6D6D;
                        .contact-btn {
                            color: #FD6D6D;
                            .contact-btn-icon {
                                background-color: #FD6D6D;
                                padding: 11px 10px;
                            }
                        }
                    }
                    .book {
                        border: 2px solid #90C63E;
                        .contact-btn {
                            color: #90C63E;
                            .contact-btn-icon {
                                background-color: #90C63E;
                                padding: 9px;
                            }
                        }
                    }
                    .navigation {
                        border: 2px solid #638FD4;
                        .contact-btn {
                            color: #638FD4;
                            .contact-btn-icon {
                                background-color: #638FD4;
                                padding: 8px 10px;
                            }
                        }
                    }
                }
            }


            .shop-intro {
                margin-top: 15px;
                h5 {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 21px;
                    color: #0d0d0d;
                }
                p {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 21px;
                    color: #a6aec1;
                }
            }
            .location {
                display: flex;
                flex-direction: column;
                align-content: flex-start;
                p {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: #a6aec1;
                    span {
                        margin-right: 5px;
                    }
                }
                .timing-area {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .therapy {
                        position: relative;
                        &::after {
                            content: "";
                            width: 1px;
                            height: 20px;
                            background-color: #e1e3ea;
                            position: absolute;
                            top: -2px;
                            right: -12px;
                        }
                    }
                    .timing {
                        p {
                            text-transform: lowercase;
                        }
                    }
                }
                .address {
                    margin-bottom: 15px;
                }
                .view-all {
                    p {
                        font-weight: 500;
                        color: #90c63e;
                    }
                }
                .overall-rating {
                    margin-bottom: 10px;
                    p {
                        .avg-cost {
                            font-weight: 500;
                            color: #90c63e;
                        }
                        .bill-icon {
                            margin-left: -1px;
                        }
                    }
                }
            }
            .gift-card-section {
                box-shadow: 0px 8px 64px rgb(15 34 67 / 6%), 0px 0px 1px rgb(15 34 67 / 8%);
                display: flex;
                flex-direction: row;
                margin-top: 24px;
                &:last-child{
                    margin: 0;
                }
                .gift-img {
                    background: #90c63e;
                    border-radius: 10px 0px 0px 10px;
                    display: flex;
                    min-width: 100px;
                    padding: 9px 12px;
                    img {
                        width: 100%;
                        object-fit: contain;
                    }
                }
                .gift-card-content {
                    background: #ffffff;
                    border-radius: 0 10px 10px 0;
                    display: flex;
                    flex-direction: column;
                    padding: 17px 15px;
                    h6 {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19px;
                        color: #0d0d0d;
                        margin-bottom: 5px;
                    }
                    p {
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 21px;
                        color: #a6aec1;
                    }
                }
            }
            .disable {
                position: relative;
                &::after{
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 10;
                    background-color: rgba(255, 255, 255, 0.30);
                    border-radius: 10px;
                }
                .gift-img{
                    background: #AEB6C9;
                }
                .gift-card-content{
                    h6{
                        color: #A6AEC1;
                    }
                    p{
                        color: #A6AEC1;
                    }
                }
            }
            .facilities {
                h5 {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 21px;
                    color: #0d0d0d;
                    margin-bottom: 16px;
                }
                ul {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    list-style-type: none;
                    padding: 0;
                    gap: 8px;
                    justify-content: flex-start;
                }
                li {
                    background: #ffffff;
                    box-shadow: 0px 8px 64px rgba(15, 34, 67, 0.06), 0px 0px 1px rgba(15, 34, 67, 0.08);
                    border-radius: 5px;
                    width: 62px;
                    height: 39px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: auto;
                        height: 25px;
                    }
                }
            }
            .payment-methods {
                h5 {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 21px;
                    color: #0d0d0d;
                    margin-bottom: 16px;
                }
                ul {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    list-style-type: none;
                    padding: 0;
                    gap: 8px;
                    justify-content: flex-start;
                }
                li {
                    a {
                        background: #ffffff;
                        box-shadow: 0px 8px 64px rgba(15, 34, 67, 0.06), 0px 0px 1px rgba(15, 34, 67, 0.08);
                        border-radius: 5px;
                        width: 62px;
                        height: 39px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img {
                            width: 27px;
                            height: auto;
                        }
                    }
                }
                .online-booking {
                    display: flex;
                    margin-bottom: 12px;
                    justify-content: center;
                    a {
                        padding: 9px 15px;
                        background: #ffffff;
                        border: 1px solid #000000;
                        box-shadow: 0px 8px 64px rgba(15, 34, 67, 0.06), 0px 0px 1px rgba(15, 34, 67, 0.08);
                        border-radius: 5px;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                        color: #0d0d0d;
                    }
                }
            }
            .shop-reviews {
                h5 {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 21px;
                    color: #0d0d0d;
                    margin-bottom: 16px;
                }
                .client-review-details {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-bottom: 12px;
                    .client-details {
                        display: flex;
                        flex-direction: row;
                    }
                    .client-img {
                        margin-right: 8px;
                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 100%;
                        }
                    }
                    .customer-name {
                        margin-bottom: 6px;
                        h6 {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 19px;
                            color: #0d0d0d;
                            margin-bottom: 0px;
                        }
                    }
                    ul {
                        padding: 0;
                        margin-right: 5px;
                        li {
                            list-style-type: none;
                            display: inline-block;
                            margin-right: 2px;
                        }
                    }
                    .rating {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: flex-end;
                    }
                    .time-added {
                        p {
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 19px;
                            color: #a6aec1;
                        }
                    }
                    .flag {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        justify-content: flex-end;
                        img {
                            width: 15px;
                            height: auto;
                        }
                        p {
                            font-weight: 400;
                            font-size: 11px;
                            line-height: 19px;
                            color: #a6aec1;
                            margin-top: 6px;
                        }
                    }
                }
                .feedback {
                    margin-bottom: 16px;
                    p {
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 19px;
                        color: #0d0d0d;
                    }
                }
                .like-icons {
                    ul {
                        padding: 0;
                        li {
                            list-style-type: none;
                            display: inline-block;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 19px;
                            color: #a6aec1;
                            margin-right: 15px;
                            vertical-align: middle;
                            cursor: pointer;
                            a {
                                display: inline-block;
                            }
                            img {
                                margin-right: 5px;
                                max-height: 24px;
                                width: auto;
                            }
                        }
                    }
                }
                .show-more {
                    text-align: center;
                    margin-top: 30px;
                    a {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 19px;
                        color: #90c63e;
                    }
                }
            }
            .show-more {
                text-align: center;
                margin-top: 30px;
                a {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 19px;
                    color: #90c63e;
                }
            }
            .female,
            .unknown {
                background: rgba(255, 115, 198, 0.14);
                border-radius: 6px;
                font-size: 12px !important;
                line-height: 14px !important;
                text-align: center;
                color: #ff73c6 !important;
                padding: 6px 12px;
            }
            .male {
                background: rgba(3, 155, 229, 0.14);
                border-radius: 6px;
                font-size: 12px !important;
                line-height: 14px !important;
                text-align: center;
                color: #039be5 !important;
                padding: 6px 12px;
            }
            .services {
                h5 {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 21px;
                    color: #0d0d0d;
                    margin: 21px 0 0px;
                }
                .outer-box {
                    background: #ffffff;
                    box-shadow: 0px 8px 64px rgba(15, 34, 67, 0.06), 0px 0px 1px rgba(15, 34, 67, 0.08);
                    border-radius: 10px;
                    padding: 9px;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    margin-top: 16px;
                    &.active {
                        background: #eff7e4;
                    }
                    .service-img {
                        img {
                            border-radius: 10px;
                            max-width: 100px;
                            height: 150px;
                            object-fit: cover;
                        }
                    }
                }
                .service-detail {
                    margin-left: 22px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    min-height: 150px;
                    height: 100%;
                    h6 {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19px;
                        color: #0d0d0d;
                        margin-bottom: 9px !important;
                    }
                    p {
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 21px;
                        color: #a6aec1;
                        margin-bottom: 10px;
                        span {
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 24px;
                            color: #90c63e;
                        }
                    }
                    a {
                        background: #90c63e;
                        border-radius: 6px;
                        padding: 6px 12px;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 14px;
                        color: #ffffff;
                        display: inline-block;
                        width: max-content;
                    }
                }
            }
            .therapist {
                h6 {
                    margin-bottom: 2px !important;
                }
                .rating {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: baseline;
                    ul {
                        padding: 0;
                        margin-right: 10px;
                        li {
                            list-style-type: none;
                            display: inline-block;
                            margin-right: 2px;
                        }
                    }
                    .overall-rating {
                        p {
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 14px;
                            color: #a6aec1;
                            margin: 0;
                        }
                    }
                }
                .therapist-intro {
                    p {
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 19px;
                        color: #a6aec1;
                    }
                }
                .btns {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    p {
                        margin: 0;
                        margin-right: 8px;
                        min-width: 65px;
                    }
                }
            }
        }
    }
    .book-us {
        text-align: center;
        position: fixed;
        bottom: 0px;
        left: 0;
        right: 0;
        z-index: 1000;
        a {
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
            text-transform: uppercase;
            color: #ffffff;
            padding: 23px 0;
            display: block;
            background: #90c63e;
            box-shadow: 0px -8.832px 35.328px rgba(70, 96, 135, 0.05);
        }
    }
}

.calendar-title {
    font-size: 19px;
    padding: 10px 0 0 10px;
    color: #212529;
    font-weight: 500;
}

.date-sl {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-top: 15px;
    border-top: solid 0.5px #E1E3EA;
    h5 {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #0D0D0D;
        margin: 0;
    }
    .cal-fg {
        width: auto;
        max-height: 24px;
    }
}

.time-management {
    background: #E9EFF9;
    border-radius: 8px;
    padding: 10px 12px 20px;
    p {
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #638FD4;
        margin-bottom: 15px;
    }
    .card-data {
        padding: 0;
        .mat-card {
            background: #638FD4 !important;
            .card_data_size {
                color: #fff !important;
            }
        }
    }
}

.card-data {
    padding: 28px 0;
    .box-structure {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        gap: 7px;
        .card-dynamic {
            .mat-card {
                background: #EFEFF1;
                border-radius: 5px;
                padding: 14px 15px;
            }
            .card-vertical {
                transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
                &:hover {
                    background: #90C63E;
                    .card_data_size {
                        color: #fff;
                    }
                }
                .card_data_size {
                    font-size: 14px;
                    line-height: 17px;
                    text-align: center;
                    text-transform: uppercase;
                    color: #A6AEC1;
                    margin: 0;
                }
            }
        }
    }
}

.select-time-wrapper {
    transform: translate(0, -170px);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    &.active {
        transform: translate(0, 0);
    }
}

// .owl-carousel {
//   .owl-nav {
//     display: none;
//     &.disabled {
//       display: none;
//     }
//   }
//   .owl-dots {
//     display: block;
//     &.disabled {
//       display: block !important;
//     }
//   }
// }
// @media screen and (min-width: 768px) {
//   .page-wrapper {
//     height: auto;
//     owl-carousel-o {
//       position: static;
//     }
//   }
// }
// Desktop
.desktop-view {
    background-color: #fff;
    .shop-images-carousel {
        height: 431px;
        owl-carousel-o {
            img {
                height: 500px;
                width: 100%;
                object-fit: cover;
            }
        }
    } 
    .shop-details {
        margin-top: -90px;
        position: relative;
        z-index: 1;
        .card {
            box-shadow: 0px 8px 64px rgba(0, 0, 0, 0.1), 0px 0px 1px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            border: none;
            width: 100%;
            .card-body {
                .mutted-text {
                    color: #A6AEC1;
                }
                .text {
                    color: #3D3D3E;
                }
                .average-amount {
                    font-size: 34px;
                    color: #90C63E;
                    font-weight: 500;
                    span {
                        font-size: 16px;
                    }
                }
                p.muted-text.avrg {
                    color: #A6AEC1;
                    padding-right: 88px;
                }
                .action-btns {
                    margin-top: 20px;
                    cursor: pointer;
                    a.btn-bookus {
                        background-color: #90C63E;
                        color: #ffffff;
                        padding: 10px 20px;
                        box-shadow: 0px 8px 64px rgb(15 34 67 / 6%), 0px 0px 1px rgb(15 34 67 / 8%);
                        border-radius: 5px;
                        font-size: 16px;
                        cursor: pointer;
                    }
                    a.btn-call {
                        background-color: #638FD4;
                        color: #fff;
                        padding: 10px 20px;
                        box-shadow: 0px 8px 64px rgba(15, 34, 67, 0.06), 0px 0px 1px rgba(15, 34, 67, 0.08);
                        border-radius: 5px;
                    }
                    a.btn-mail {
                        color: #fff;
                        background-color: #FD6D6D;
                        padding: 10px 20px;
                        box-shadow: 0px 8px 64px rgba(15, 34, 67, 0.06), 0px 0px 1px rgba(15, 34, 67, 0.08);
                        border-radius: 5px;
                    }
                }
                .more-with-icons {
                    margin-top: 40px;
                }
            }
        }
    }
    .giftcard-section {
        background-image: url("../../../assets/images/giftcard/Giftcard-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 50px 20px;
        margin-top: 60px;
        .card {
            box-shadow: 0px 8px 64px rgba(15, 34, 67, 0.06), 0px 0px 1px rgba(15, 34, 67, 0.08);
            border-radius: 20px;
            border: none;
            overflow: hidden;
            width: 100%;
            .card-layout {
                display: flex;
                .card-img {
                    background-color: #90C63E;
                    width: 100px;
                    padding: 20px;
                    display: flex;
                    img {
                        width: 100%;
                    }
                }
                .card-details {
                padding: 24px 20px;
                    .h6 {
                        margin: 0;
                    }
                    .mutted-text {
                        color: #A6AEC1;
                    }
                }
            }
      
        }
    }
  .facility-section {
    margin-top: 60px;
    .items {
      margin-top: 30px;
      display: flex;
      .icon {
        width: 112.52px;
        height: 90.97px;
        background: #FFFFFF;
        box-shadow: 0px 8px 40px rgb(15 34 67 / 10%);
        border-radius: 5px;
        margin-right: 30px;
        display: flex;
        justify-content: center;
        padding: 20px;
        img {
          
        }
      }
    }
  }
  .payment-method-section {
    margin-top: 60px;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      button.btn-Instant {
        padding: 10px 30px;
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 8px 64px rgba(15, 34, 67, 0.06), 0px 0px 1px rgba(15, 34, 67, 0.08);
        border-radius: 10px;
      }
    }
    .items {
      display: flex;
      margin-top: 30px;
      .icon {
        width: 112.52px;
        height: 90.97px;
        background: #FFFFFF;
        box-shadow: 0px 8px 40px rgb(15 34 67 / 10%);
        border-radius: 5px;
        margin-right: 30px;
        display: flex;
        justify-content: center;
        padding: 20px;
        img {
          
        }
      }
    }
  }
  .review-section {
    margin-top: 60px;
    .header {
      display: flex;
      justify-content: space-between;
      a.btn.btn-view-all {
        color: #696969;
        img {
          margin-left: 10px;
        }
      }
    }
    .card {
      box-shadow: 0px 8px 64px rgba(0, 0, 0, 0.1), 0px 0px 1px rgba(0, 0, 0, 0.1);
      border-radius: 20px;
      border: none;
      .card-body {
        .client-review-details{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-bottom: 12px;
          .client-details{
            display: flex;
            flex-direction: row;
          }
          .client-img{
            margin-right: 8px;
            img{
              width: 40px;
              height: 40px;
              border-radius: 100%;
            }
          }
          .customer-name{
            margin-bottom: 6px;
            h6{
              font-weight: 500;
              font-size: 16px;
              line-height: 19px;
              color: #0D0D0D;
              margin-bottom: 0px;
            }
          }
          ul{
            padding: 0;
            margin-right: 5px;
            li{
              list-style-type: none;
              display: inline-block;
              margin-right: 2px;
            }
          }
          .rating{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
          }
          .time-added{
            p{
              font-weight: 400;
              font-size: 12px;
              line-height: 19px;
              color: #A6AEC1;
            }
          }
          .flag{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;
            img{
              width: 15px;
            }
            p{
              font-weight: 400;
              font-size: 11px;
              line-height: 19px;
              color: #A6AEC1;
              margin-top: 6px;
            }
          }
        }
      }
      .customer-feedback {
        .like-icons{
          ul{
            padding: 0;
            margin-top: 15px;
            li{
              list-style-type: none;
              display: inline-block;
              font-weight: 400;
              font-size: 12px;
              line-height: 19px;
              color: #A6AEC1;
              margin-right: 15px;
              vertical-align: middle;
              cursor: pointer;
              a{
                display: inline-block;
              }
              img{
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }
  .service-section {
    margin-top: 80px;
    .header {
      display: flex;
      justify-content: space-between;
      a.btn.btn-view-all {
        color: #696969;
        img {
          margin-left: 10px;
        }
      }
    }
      .card {
        box-shadow: 0px 8px 64px rgba(15, 34, 67, 0.1), 0px 0px 1px rgba(15, 34, 67, 0.12);
        border-radius: 10px;
        border: none;
        height: 100%;
        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        img {
            border-radius: 10px 10px 0 0;
            background-color: #eff7e4;
            height: 190px;
            object-fit: cover;
        }
        h6 {
            font-size: 16px;
        }
        p.price {
            color: #696969;
            span {
                color: #90C63E;
                font-weight: 500;
            }
        }
        .btn.btn-green {
            color: #fff;
            background-color: #90C63E;
            border-radius: 5px!important;
        }
    }
  }
    .therapist-section {
        .header {
            display: flex;
            justify-content: space-between;
            a.btn.btn-view-all {
                color: #696969;
                img {
                    margin-left: 10px;
                }
            }
        }
        .mutted-text {
            color: #A6AEC1;
            font-size: 13px;
            font-weight: 300;
        }
    .card {
      width: 100%;
      box-shadow: 0px 8px 64px rgba(15, 34, 67, 0.1), 0px 0px 1px rgba(15, 34, 67, 0.12);
      border-radius: 10px;
      border: none;
      .card-body {
        display: flex;
        padding: 10px;
        .therapist-img {
            min-width: 100px;
            max-width: 100px;
          height: 100%;
          cursor: pointer;
          img {
            width: 100%;
            height: 170px;
            border-radius: 10px;
            object-fit: cover;
          }
        }
        .details {
            position: relative;
            margin-left: 10px;
            min-width: 0px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .btns {
                display: flex;
                justify-content: space-between;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                a.btn-female {
                    padding: 7px 20px;
                    color: #FF73C6;
                    background: rgba(255, 115, 198, 0.14);
                    border-radius: 8px;
                }
                a.btn-male {
                    padding: 7px 20px;
                    color: #039BE5;
                    background: rgba(3, 155, 229, 0.14);
                    border-radius: 8px;
                }
                .btn-bookus {
                    padding: 7px 20px;
                    color: #fff;
                    background-color: #90C63E;
                    border-radius: 5px;
                    font-size: 16px;
                    cursor: pointer;
                }
            }
            .therapist-intro.mutted-text {
                font-weight: 100;
                font-size: 13px;
                margin-top: 6px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
      }
    }
  }
}
.img-border {
    border: solid 1px #ededed;
}
.img-item {
    height: 70px;
}
.img-contain {
    object-fit: contain!important;
}
.custom-modal {
    ::ng-deep .modal-content {
        border-radius: .8rem !important;
        border: none !important;
    }
    
    .modal-title {
        margin: 0 auto;
        width: 100%;
        color: white;
        text-align: center;
    }
    
    .modal-body {
        .day-time {
            color: #A6AEC1;
            padding: 0 18px;
            font-size: 15px;
            text-transform: lowercase;
        }
    }
}
.elipsis{
    line-height: 1.5em;
    max-height: 2em;
    overflow: hidden;
}

.div-replies {
    padding: 15px;
    text-overflow: ellipsis;
    font-size: 12px;
    line-height: 22px;
    // overflow: hidden;
    // display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.read-label {
    color: #90C63E;
    font-weight: 600;
}
.text-gray {
    color: #A6AEC1;
}
.new-version {
    .btn-bookus, .btn-buy-giftcard {
        padding: 10px 0;
        color: #fff;
        font-size: 24px;
    }
    .btn-bookus {
        background: linear-gradient(0deg, rgba(190, 255, 92, 0.2), rgba(190, 255, 92, 0.2)), #90C63E;
    }
    .btn-buy-giftcard {
        background: linear-gradient(0deg, rgba(221, 41, 41, 0.2), rgba(221, 41, 41, 0.2)), #FD6D6D;
    }
    .show-more {
        // position: absolute;
        // bottom: 0;
        // left: 0;
        // right: 0;
        text-align: center;
        height: 150px;
        background: linear-gradient(180deg, rgba(250, 250, 252, 0) 0%, #FAFAFC 110.11%);
        z-index: 1;
        color: #90C63E;
        p {
            position: absolute;
            // bottom: 15px;
            left: 0;
            right: 0;
        }
    }
}
.about {
    .action-btns {
        border-bottom: 1px solid #E1E3EA;
        .btn {
            color: #ffffff;
            padding: 10px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            box-shadow: 0px 8px 64px rgba(15, 34, 67, 0.06), 0px 0px 1px rgba(15, 34, 67, 0.08);
        }
        .btn-call {
            background: #E1B829;
        }
        .btn-mail {
            background: #FD6D6D;
        }
        .btn-map {
            background: #638FD4;
        }
    }
}
.rating-section {
    .rating {
      display: flex;
      gap: 20px;
      align-items: center;
      margin-bottom: 20px;
      margin-top: 25px;
    }
    .progress-ratings {
      .progressBar-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        .rating-stars {
            width: 45px;
        }
        .progress {
          width: 65%;
          height: 15px;
          background: #EAEAEA;
          border-radius: 20px;
          .progress-bar{
            background: #F7C942;
            border-radius: 20px;
          }
        }
        .rating-percent {
            width: 45px;
        }
      }
    }
}
.customer-feedback {
    .client-review-details{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 12px;
        .client-details{
          display: flex;
          align-items: center;
        }
        .client-img{
          margin-right: 8px;
          img{
            width: 50px;
            height: 50px;
            border-radius: 100%;
            object-fit: cover;
          }
        }
        .customer-name{
          margin-bottom: 6px;
          h6{
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #0D0D0D;
            margin-bottom: 0px;
          }
        }
        ul{
          padding: 0;
          margin-right: 5px;
          li{
            list-style-type: none;
            display: inline-block;
            margin-right: 2px;
          }
        }
        .rating{
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
        }
        .time-added{
          p{
            font-weight: 400;
            font-size: 12px;
            line-height: 19px;
            color: #A6AEC1;
          }
        }
        .flag{
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: flex-end;
          img{
            width: 15px;
          }
          p{
            font-weight: 400;
            font-size: 11px;
            line-height: 19px;
            color: #A6AEC1;
            margin-top: 6px;
          }
        }
    }
    .like-icons{
      ul{
        padding: 0;
        margin-top: 15px;
        li{
          list-style-type: none;
          display: inline-block;
          font-weight: 400;
          font-size: 12px;
          line-height: 19px;
          color: #A6AEC1;
          margin-right: 15px;
          vertical-align: middle;
          cursor: pointer;
          a{
            display: inline-block;
          }
          img{
            margin-right: 5px;
          }
        }
      }
    }
}

.service-list {
    .bookedTimes {
        position: absolute;
        right: 0;
        background-color: #ffffffa1;
        padding: 5px 15px;
        color: #90C63E;
        font-size: 14px;
        border-radius: 0 .25rem 0 .60rem;
    }
    img.card-img-top {
        height: 260px;
        object-fit: cover;
        background: #eff7e4;
    }
}
.disable {
    opacity: 0.5;
    pointer-events: none;
}
// 
@media only screen and (max-width: 600px)  {
    .product-section .col-6 {padding: 0 5px;}
}

// CHAT BOT
.chat-bot {
    button.chat-btn {
        position: fixed;
        bottom: 15px;
        right: 15px;
        z-index: 11;
        border: none;
        color: #90c63e;
        width: 90px;
        height: 90px;
        background-color: #ffffff;
        padding: 15px;
        border-radius: 100px;
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.56);
        -webkit-box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 10%);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.56);
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    &.adjust {
        button.chat-btn {
            bottom: 80px;
        }
    }
}
@media only screen and (max-width: 460px)  {
    .chat-box {
        // height: 100%;
        // width: 104%;
    }
}

.avoid-clicks {
    pointer-events: none;
}