.section-delivery-date {
    margin-top: 50px;
    position: relative;
    .deliver-date {
        margin-bottom: 90px;
    }
    .btn-next {
        background-color: #90C63E;
        border-radius: 0;
        color: #fff;
        width: 100%;
        padding: 15px 0;
        position: fixed;
        bottom: 0;
    }
    .btn-light-green {
        background-color: #90C63E;
        border-radius: 0;
        color: #fff;
        width: 100%;
        padding: 15px 0;
        bottom: 0;
    }
}
