.search-field {
  padding-top: 80px;
}

.listing {
  background: #fff;
  padding: 11px 12px;
  border-radius: 10px;
  margin-bottom: 10px;
  position: relative;
  .like-dislike {
    /* position: absolute;
    top: 0px;
    right: 16px; */
    margin-left: auto;
    z-index: 11;
    img {
      width: 100%;
      max-width: 20px;
    }
  }
  .listing-wrapper{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    cursor: pointer;
    // gap: 15px;
  }
  .shop-img {
    position: relative;
    img {
      width: 100%;
      &.shop-round-img {
        height: 155px;
        border-radius: 10px;
        object-fit: cover;
        width: 110px;
        position: inherit;
      }
    }
    .shop-location {
      background: #FFFFFF;
      box-shadow: 0px 8px 64px rgba(15, 34, 67, 0.06), 0px 0px 1px rgba(15, 34, 67, 0.08);
      border-radius: 4px;
      position: absolute;
      top: 5px;
      right: 6px;
      padding: 2px 4px;
      p {
        font-size: 12px;
        color: #A6AEC1;
        margin: 0;
        img {
          width: 100%;
          max-width: 10px;
        }
      }
    }
    .service_offers {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 5px;
      display: flex;
      justify-content: space-around;
      .item {
        width: 30px;
        height: 22px;
        border-radius: 5px;
        display: flex;
        align-items: end;
        justify-content: center;
        img {
          max-width: 25px;
        }
      }
    }
  }
  .shop-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 140px;
    max-height: 150px;
    margin-left: 17px;
    width: 100%;
    .shop-detail_wrapper{
      width: 100%;
    }
    .boxHead{
      display: flex;
      align-items: flex-start;
    }
    h4 {
      font-size: 16px;
      width: 150px;
      font-weight: 500;
      overflow:hidden !important;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    .rating {
      font-size: 12px;
      color: #A6AEC1;
      font-weight: 400;
    }
    p {
      font-size: 12px;
      color: #A6AEC1;
      margin: 0;
      display: flex;
      align-items: center;
      line-height: 14.22px;
      justify-content: space-between;
      margin-bottom: 12px;
      gap: 10px;
      span{
        overflow:hidden !important;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      img {
        // margin-left: 11px;
      }
    }
    .btn-group {
      margin-top: 5px;
      // float: right;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      &--moreInfoOuter{
        width: auto;
      }
      button {
        padding: 6px 10px;
        font-size: 12px;
        // margin-right: 10px;
        border-radius: 6px;
        &.btn-availabel {
          background: #eff7e3;
          color: #90C63E;
          margin-right: 10px;
        }
        &.btn-book {
          background: #90C63E;
          color: #fff;
          margin: 0;
        }
        &.btn-unavailabel {
          color: #FD6D6D;
          background: #fee9e9;
          margin-right: 10px;
        }
        &.business-page {
          padding: 6px 12px;
          line-height: 14px;
          width: 212px;
          height: 26px;
        }
        &.more-info {
          padding: 6px 12px;
          line-height: 14px;
          width: 156px;
          height: 26px;
        }
      }
    }
  }
}

.selected-shop {
  background: #EFF7E4;
}

.search-field {
  .input-group {
    position: relative;
    .searchIcon {
      position: absolute;
      left: 10px;
      top: 6px;
      z-index: 3;
    }
  }
  input {
    padding-left: 35px;
  }
}

.search-field {
  .input-group {
    position: relative;
    .form-control {
      height: 44px;
      border-color: #fff;
      box-shadow: none;
    }
  }
  .closeIcon {
    position: absolute;
    right: 8px;
    top: 8px;
  }
}

.search-location.form-group {
  .form-control {
    height: 44px;
    border-color: #fff;
    box-shadow: none;
  }
}


@media only screen and (max-width:420px){
  .btn-group {
     width: 100%;
      .business-page {
        width: 100% !important;
      }
    }
}


@media only screen and (max-width:380px){
  .listing {
  .shop-img {
    img {
      &.shop-round-img {
        width: 90px;
      }
    }
  }
  }
}
@media only screen and (max-width:320px){
.listing{
    .btn-group {
      .btn-availabel {
        padding: 6px 5px;
        margin-right: 6px;
      }
      &.btn-unavailabel {
        padding: 6px 5px;
        margin-right: 6px;
      }
    }
  }
}

