<div class="container section-change-pass">
    <div class="bookus-logo">
        <img src="../../../assets/images/bookus-logo.svg" alt="">
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="text-green">Change Password</h5>
            <form [formGroup]="password_form" autocomplete="off">
                <div class="row">
                  <div class="col-12">
                    <label for="current-pass">Enter Current Password</label>
                    <div class="input-group rounded is-valid">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><span class="material-icons-outlined"> lock </span></span>
                      </div>
                      <!-- <input type="text" formControlName="oldPass" class="form-control" placeholder="Current Password"
                        [ngClass]="{'is-invalid': (submitted || password_form.get('oldPass')?.touched) && password_form.get('oldPass')?.invalid, 'is-valid': password_form.get('oldPass')?.valid}" /> -->
                      <input [type]="mpw" formControlName="oldPass" class="form-control" placeholder="Confirm Password"
                        [ngClass]="{'is-invalid': (submitted || password_form.get('oldPass')?.touched) && password_form.get('oldPass')?.invalid, 'is-valid': password_form.get('oldPass')?.valid}" />
                      <div class="field-filled pointer" (click)="show_hide_pw('mpw')">
                        <img *ngIf="!mpw_is_show" src="assets/images/auth/eye_off.svg" alt="show">
                        <img *ngIf="mpw_is_show" src="assets/images/auth/eye_on.svg" alt="hide">
                      </div>
                    </div>
                    <div *ngIf="password_form.get('password')?.invalid && (submitted || password_form.get('password')?.dirty || password_form.get('password')?.touched)"
                      class="ml-5 pl-2 text-danger">
                      <div *ngIf="password_form.get('password')?.errors?.required">Current password is required</div>
                    </div>
                  </div>
                  <div class="col-12 mt-4">
                    <label for="new-pass">Create New Password</label>
                    <div class="input-group rounded">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><span class="material-icons-outlined"> lock </span></span>
                      </div>
                      <input [type]="pw" value="12345678" formControlName="password" class="form-control" placeholder="New Password"
                        [ngClass]="{'is-invalid': (submitted || password_form.get('password')?.touched) && password_form.get('password')?.invalid, 'is-valid': password_form.get('password')?.valid}" />
                        <div class="field-filled pointer" (click)="show_hide_pw('pw')">
                          <img *ngIf="!pw_is_show" src="assets/images/auth/eye_off.svg" alt="show">
                          <img *ngIf="pw_is_show" src="assets/images/auth/eye_on.svg" alt="hide">
                        </div>
                    </div>
                    <div *ngIf="password_form.get('password')?.invalid && (submitted || password_form.get('password')?.dirty || password_form.get('password')?.touched)"
                      class="ml-5 pl-2 text-danger">
                      <div *ngIf="password_form.get('password')?.errors?.required">Password is required</div>
                      <div *ngIf="password_form.get('password')?.errors?.minlength">Password must be at least 8 characters</div>
                    </div>
                  </div>
                  <div class="col-12 mt-4">
                    <div class="input-group rounded">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><span class="material-icons-outlined"> lock </span></span>
                      </div>
                      <input [type]="cpw" formControlName="confirmpassword" class="form-control" placeholder="Confirm Password"
                        [ngClass]="{'is-invalid': (submitted || password_form.get('confirmpassword')?.touched) && password_form.get('confirmpassword')?.invalid, 'is-valid': password_form.get('confirmpassword')?.valid}" />
                        <div class="field-filled pointer" (click)="show_hide_pw('cpw')">
                          <img *ngIf="!cpw_is_show" src="assets/images/auth/eye_off.svg" alt="show">
                          <img *ngIf="cpw_is_show" src="assets/images/auth/eye_on.svg" alt="hide">
                        </div>
                    </div>
                    <div *ngIf="password_form.get('confirmpassword')?.invalid && (submitted || password_form.get('confirmpassword')?.dirty || password_form.get('confirmpassword')?.touched)"
                      class="ml-5 pl-2 text-danger">
                      <div *ngIf="password_form.get('confirmpassword')?.errors?.required">Confirm password is required.</div>
                      <div *ngIf="password_form.get('confirmpassword')?.errors?.confirmPasswordValidator">Password and Confirm Password not match.
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <button class="btn w-100 sticky btn-green" type="submit" (click)="confirm(content)">UPDATE PASSWORD</button>
            </form>
        </div>
    </div>
</div>
<ng-template #content let-modal>
  <div class="success-modal">
    <div class="modal-body text-center">
      <img src="../../../assets/images/success.svg" alt="" class="success-img">
      <h4>Successful!</h4>
      <p>You have successfully changed your password.</p>
      <button type="button" class="btn btn-green" [routerLink]="['/my-profile']" (click)="modal.close('Close click')">Go Back</button>
    </div>
  </div>
</ng-template>
