.section-change-pass {
    margin-top: 90px;
    .bookus-logo {
        text-align: center;
        img {
            width: 230px;
        }
    }
    .card {
        margin-top: 20px;
        box-shadow: 0px 8px 64px rgba(15, 34, 67, 0.06), 0px 0px 1px rgba(15, 34, 67, 0.08);
        border-radius: 16px;
        border: none;
        .card-body {
            .text-green {
                color: #90C63E;
            }
            form {
                padding-bottom: 40px;
                label {
                    color: #A6AEC1;
                }
                .input-group.rounded {
                    padding: 5px 0;
                    border: solid 1px #90C63E;
                    border-radius: 30px!important;
                    .input-group-prepend {
                        .input-group-text {
                            border: none;
                            background: none;
                        }
                    }
                    .form-control {
                        border: none;
                        background: none!important;
                        border-radius: 0 30px 30px 0;
                    }
                    .field-filled {
                        display: flex;
                        align-items: center;
                        width: 40px;
                    }
                }
                .btn.btn-green {
                    color: #fff;
                    background: #90C63E;
                    border-radius: 0;
                    padding: 12px 0;
                }
                .btn.sticky {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
            }
        }
    }
}
.success-modal {
    .modal-body {
        padding: 30px ​0;
        .btn.btn-green {
            background: #91C73E;
            color: #fff;
            width: 200px;
            border-radius: 30px;
            padding: 10px 0;
        }
    }
}
