.my-request-wrapper{
    margin-top: 80px;
}
.store-image{
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.card-body{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
}