<swiper-container nested="true" space-between="0" slides-per-view="1" pagination="true" loop="true">
    <swiper-slide>
        <img class="banner-img w-100" src="https://picsum.photos/300/200" alt="Sample" />
    </swiper-slide>
    <swiper-slide>
        <img class="banner-img w-100" src="https://picsum.photos/300/200" alt="Sample" />
    </swiper-slide>
    <swiper-slide>
        <img class="banner-img w-100" src="https://picsum.photos/300/200" alt="Sample" />
    </swiper-slide>
    <swiper-slide>
        <img class="banner-img w-100" src="https://picsum.photos/300/200" alt="Sample" />
    </swiper-slide>
</swiper-container>