.locationBox{
    height: 40px;
    width: 396px;
}
  .my-style {
      height: 96vh !important;
  }
  .searchbox{
      padding: 0;
  }
  

  .text-style {
    text-align: center;
    font-size: 20px;
  }