<div class="comment-wrapper-head">
  <div class="d-flex ms-3 ">
    <div class="comments-reply">
      <div class="card">
        <div class="card-body">
          <div class="comment-wrapper d-flex">
            <div class="profile-picture-wrapper">
              <div class="circle">
                <img src="../../../assets/images/tree-736885__340.jpg" class="rounded-circle" alt="">
              </div>
            </div>
            <div class="user-comment-wrapeer">
              <div class="comments-rating">
                <div class="user-name">
                  <div class="user">
                    <h4 class="mb-0">Cender George</h4>
                  </div>
                  <div class="therapy-review">
                    <small>Good</small>
                  </div>
                </div>
              </div>
              <div class="mobile-social-items">
                <ul>
                  <li>
                    <div class="mobile-socialWrapper">
                      12
                      <i class="fa fa-thumbs-up"></i>
                    </div>
                  </li>
                  <li>
                    <div class="mobile-socialWrapper">
                      <i class="fa fa-thumbs-down"></i>
                      12
                    </div>
                  </li>
                  <li>
                    <a href="#">Reply</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="comment-wrapper d-flex">
            <div class="profile-picture-wrapper">
              <div class="circle">
                <img src="../../../assets/images/tree-736885__340.jpg" class="rounded-circle" alt="">
              </div>
            </div>
            <div class="user-comment-wrapeer">
              <div class="comments-rating">
                <div class="user-name">
                  <div class="user">
                    <h4 class="mb-0">Cender George</h4>
                  </div>
                  <div class="therapy-review">
                    <small>Good</small>
                  </div>
                </div>
              </div>
              <div class="mobile-social-items">
                <ul>
                  <li>
                    <div class="mobile-socialWrapper">
                      12
                      <i class="fa fa-thumbs-up"></i>
                    </div>
                  </li>
                  <li>
                    <div class="mobile-socialWrapper">
                      <i class="fa fa-thumbs-down"></i>
                      12
                    </div>
                  </li>
                  <li>
                    <a href="#">Reply</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="write-comment">
    <div class="comment">
      <input type="text" class="comment-input-field" placeholder="Add a public reply..">
    </div>
    <div class="send-comment">
      <button class="btn btn-dark send_button"><i class="fa fa-paper-plane"></i></button>
    </div>
  </div>
</div>
