<div class="hero-banner">
    <img src="/assets/images/invite-friend/hero-banner.svg" alt="hero-banner">
</div>
<div class="container">
    <div class="card" style="margin-top: -200px">
        <h1 class="title">Invite a Friend</h1>
        <p class="tips">Invite 10 friends to join BookUS this month to gain <b>$1000</b> referral bonus. For every sign up from your invite link, you'll get $10 off.</p>
        <div class="socials">
            <div class="row">
                <div class="col">
                    <div class="card-icon">
                        <a href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_blank">
                            <img src="/assets/images/invite-friend/gmail.svg" alt="gmail">
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="card-icon">
                        <a href="https://twitter.com/" target="_blank">
                            <img src="/assets/images/invite-friend/twitter.svg" alt="twitter">
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="card-icon">
                        <a href="https://www.whatsapp.com/" target="_blank">
                            <img src="/assets/images/invite-friend/whatsapp.svg" alt="whatsapp">
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="card-icon">
                        <a href="https://www.facebook.com/" target="_blank">
                            <img src="/assets/images/invite-friend/facebook.svg" alt="facebook">
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="card-icon">
                        <a href="https://www.messenger.com/new" target="_blank">
                            <img src="/assets/images/invite-friend/fb-messenger.svg" alt="fb-messenger">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="link">
            <input type="text" [value]="referralLink" #inputValue>
            <button class="btn-copy" (click)="copyToClipBoard(inputValue)">Copy</button>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>