<!-- card -->
<div class="card">
    <!-- image -->
    <div class="row">
        <div class="col-12 center">
            <img class="thumbup-img" src="../../../assets/images/thumbsup.svg" />
        </div>
    </div>

    <div class="row pad-15">
        <div class="col-12 txt-thankyou">
            Thank You for Reporting Bug to Bookus
        </div>
    </div>

    <div class="row pad-15">
        <div class="col-12 txt-grey">
            We Cannot Improve without your help !
        </div>
    </div>
    <!-- btn -->
    <div class="row pad-15">
        <div class="col-12 center">
            <button class="ok-btn" (click)="closeModel()">ok</button>
        </div>
    </div>
</div>