.table , .info{
    width: 90%;
    margin: auto;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
}

.list {
    font-size: 24px;
    font-weight: 500;
}

.btn {
    box-shadow: none;
}