<div class="voucher-carousel">
    <swiper-container nested="true" space-between="10" slides-per-view="1.4">
        <div class="default-space"></div>
        <swiper-slide>
            <app-voucher></app-voucher>
        </swiper-slide>
        <swiper-slide>
            <app-voucher></app-voucher>
        </swiper-slide>
        <swiper-slide>
            <app-voucher></app-voucher>
        </swiper-slide>
        <swiper-slide>
            <app-voucher></app-voucher>
        </swiper-slide>
    </swiper-container>
</div>