<div class="shop-section">
    <br>
    <div class="container">
        <app-search-in-shop></app-search-in-shop>
        <br>
        <div class="d-flex align-items-center">
            <img class="shop-logo" [src]="shopDetails.companyLogo" alt="Shop Logo">
            <div class="details ms-3">
                <h6 class="shop-name m-0">Top1Health4U</h6>
                <small class="active-status">Active 1 hour ago</small>
                <div class="d-flex align-items-center">
                    <small class="ratings"><i class="bi bi-star-fill"></i>4.9/5.0</small>
                    <small class="separator">|</small>
                    <small class="followers">800 Followers</small>
                </div>
            </div>
            <div class="action-btns">
                <button class="btn-sp">+ Follow</button>
                <button class="btn-sp mt-1"><i class="bi bi-chat-dots"></i> Chat</button>
            </div>
        </div>
    </div>
    <br>
</div>