<div class="main-wrapper">
<div class="row p-1 side-head">

    <div class="col-2  app-logo-container">
      <!-- <i class="bi bi-patch-check-fill green-color"></i> -->
      <img src="../../../assets/images/verified.svg" class="green-color" alt="">
      <img src="../../../assets/images/userlogo.png" class="image-logo">
    </div>
    
    <div class="col-10">
      <div class="user-wedge-wrapper">
        <div class="user-name">
          <p>James G.</p>
        </div>
        <div class="red-icon-wrapper">
          <div class="circle">
            <div class="red-number">
              <svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M5.52438 14.4268C5.39104 14.4268 5.27771 14.3801 5.18438 14.2868C5.09104 14.1934 5.04438 14.0801 5.04438 13.9468V3.58676L2.00438 5.92676C1.92438 5.99342 1.83104 6.02676 1.72438 6.02676C1.56438 6.02676 1.43104 5.95342 1.32438 5.80676L0.484375 4.72676C0.417708 4.62009 0.384375 4.52009 0.384375 4.42676C0.384375 4.26676 0.457708 4.13342 0.604375 4.02676L5.08438 0.566757C5.20438 0.473424 5.37104 0.426757 5.58438 0.426757H7.34438C7.49104 0.426757 7.60438 0.473424 7.68438 0.566757C7.77771 0.646757 7.82438 0.76009 7.82438 0.906757V13.9468C7.82438 14.0801 7.77771 14.1934 7.68438 14.2868C7.60438 14.3801 7.49104 14.4268 7.34438 14.4268H5.52438Z"
                  fill="#8E2818" />
              </svg>
            </div>
          </div>
        </div>

        
      </div>
     
      <div  class="location-wrapper">
          <div class="location">
              <img src="../../../assets/images/location.svg" alt="">
          </div>
          <div class="location-name">
              <p>Mandurah,Wa</p>
          </div>
      </div>
    </div>
    
  </div>
  
  <div class="line-wrapper"></div>

  <form class="form-wrapper">
    <div class="form-group">
        <div class="form-inner d-flex align-items-center">
            <div class="formIcon">
            <div class="image-icon">
                <img src="../../../assets/images/Icon.png" alt="">

            </div>                
            
        </div>

            <div class="form-field">
                <label>mithu</label>
                <p></p>
            </div>
            <div class="tick">
                <img src="../../../assets/images/tick.png" alt="">
            </div>
        </div>
    </div>
  </form>
  <form class="form-wrapper">
    <div class="form-group">
        <div class="form-inner d-flex align-items-center">
            <div class="formIcon">
            <div class="image-icon">
                <img src="../../../assets/images/Icon.png" alt="">

            </div>                
            
        </div>

            <div class="form-field">
                <label>nrayy</label>
                <p></p>
            </div>
            <div class="tick">
                <img src="../../../assets/images/tick.png" alt="">
            </div>
        </div>
    </div>
  </form>

  <form class="form-wrapper">
    <div class="form-group">
        <div class="form-inner d-flex align-items-center">
            <div class="formIcon">
            <div class="image-icon">
                <img src="../../../assets/images/email.png" alt="">

            </div>                
            
        </div>

            <div class="form-field">
                <label>Date Of Birth</label>
                <p></p>
            </div>
            <div class="tick">
                <img src="../../../assets/images/tick.png" alt="">
            </div>
        </div>
    </div>
  </form>

  

  <form class="form-wrapper">
    <div class="form-group">
        <div class="form-inner d-flex align-items-center">
            <div class="formIcon">
            <div class="image-icon">
                <img src="../../../assets/images/male.png" alt="">

            </div>                
            
        </div>

            <div class="form-field">
                <label>Male</label>
                <p></p>
            </div>
            <div class="tick">
                <img src="../../../assets/images/tick.png" alt="">
            </div>
        </div>
    </div>
  </form>
  <form class="form-wrapper">
    <div class="form-group">
        <div class="form-inner d-flex align-items-center">
            <div class="formIcon">
            <div class="image-icon">
                <img src="../../../assets/images/india.png" alt="">

            </div>                
            
        </div>

            <div class="form-field">
                <label>India</label>
                <p></p>
            </div>
            <div class="tick">
                <img src="../../../assets/images/tick.png" alt="">
            </div>
        </div>
    </div>
  </form>
  <form class="form-wrapper">
    <div class="form-group d-flex">
        <div class="form-inner-unique d-flex align-items-center">
            <div class="formIcon">
            <div class=" image-icon image-icon-unique d-flex">
                <img src="../../../assets/images/flag.png" alt="">
                <img src="../../../assets/images/down-arrow.png" alt="">


            </div>    
        </div>  
    </div>
          
            
    <div class="form-inner-uniques d-flex align-items-center">
            <div class=" formIcon form-field">
                <label>India</label>
                <p></p>
            </div>
        </div>

            
        
    </div>
  </form>

  <form class="form-wrapper">
    <div class="form-group">
        <div class="form-inner d-flex align-items-center">
            <div class="formIcon">
            <div class="image-icon">
                <img src="../../../assets/images/email.png" alt="">

            </div>                
            
        </div>

            <div class="form-field">
                <label>mithunrayy@gmail.com</label>
                <p></p>
            </div>
            
        </div>
    </div>
  </form>
  <form class="form-wrapper">
    <div class="form-group">
        <div class="form-inner d-flex align-items-center">
            <div class="formIcon">
            <div class="image-icon">
                <img src="../../../assets/images/lock.png" alt="">

            </div>                
            
        </div>

            <div class="form-field">
                <label style="color: #ADADAD; white-space: nowrap;" >Change Password</label>
                <p></p>
            </div>
            
        </div>
    </div>
  </form>

  
  <div  class="address-wrapper">
    <div class="location-icon">
        <img class="location-icon" src="../../../assets/images/location.svg" alt="">
    </div>
    <div class="address-name">
        <p>Address</p>
    </div>
</div>

    <form class="form-wrapper">
        <div class="form-group">
            <div class="form-inner-address d-flex align-items-center">
                <!-- <div class="formIcon">
                <div class="image-icon">
                    <img src="../../../assets/images/lock.png" alt="">
    
                </div>                
                
            </div> -->
    
                <div class="form-field">
                    <label style="color: #ADADAD; white-space: nowrap;" >Address line 1</label>
                    <p></p>
                </div>
                
            </div>
        </div>
      </form>
      <form class="form-wrapper">
        <div class="form-group">
            <div class="form-inner-address d-flex align-items-center">
                <!-- <div class="formIcon">
                <div class="image-icon">
                    <img src="../../../assets/images/lock.png" alt="">
    
                </div>                
                
            </div> -->
    
                <div class="form-field">
                    <label style="color: #ADADAD; white-space: nowrap;" >Address line 2</label>
                    <p></p>
                </div>
                
            </div>
        </div>
      </form>

      <form class="form-wrapper">
        <div class="form-group d-flex">
            <div class="form-inner-city d-flex align-items-center">
                <div class="form-field">
                    <label style="color: #ADADAD; white-space: nowrap; padding-left: 16px;">City/District</label>
                    <p></p>
            </div>  
        </div>
              
                
        <div class="form-inner-state d-flex align-items-center">
                <div class="form-field">
                    <label style="color: #ADADAD; white-space: nowrap;">State/Provience</label>
                    <p></p>
                </div>
            </div>
    
                
            
        </div>
      </form>

      <form class="form-wrapper">
        <div class="form-group">
            <div class="form-inner-address d-flex align-items-center">
                <!-- <div class="formIcon">
                <div class="image-icon">
                    <img src="../../../assets/images/lock.png" alt="">
    
                </div>                
                
            </div> -->
    
                <div class="form-field">
                    <label style="color: #ADADAD; white-space: nowrap;" >postal code</label>
                    <p></p>
                </div>
                
            </div>
        </div>
      </form>

      <button class="save">Save</button>
  
</div>

