.category-list {
    text-align: center;
    button.btn-category {
        margin-right: 15px;
        border: solid 2px;
        border-color: #f0f0f0;
        font-size: 22px;
        padding: 10px 30px;
        border-radius: 5px;
        margin-bottom: 15px;
        position: relative;
        display: inline-flex;
        width: fit-content;
        gap: 15px;
        align-items: center;
        span.badge {
            background-color: #90c63e;
            visibility: hidden;
            padding: 0px!important;
            width: 17px;
            height: 17px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &.active {
            background-color: #ffffff;
            border-color: #90c63e!important;
            span.badge {
                visibility: visible;
            }
        }
    }
}
