<div class="card p-1">
    <div class="card-body p-2">
        <div class="row">
            <div class="col-lg-6">
                <h6>ABOUT SHOP</h6>
            </div>
            <div class="col-lg-6">
                Welcome to Top1Health4U ! We are genuine seller that only sells 100% MADE IN USA. AUTHENTIC and QUALITY products to our beloved customers. We offer affordable prices without compromising the quality of our products. 
Working Hours - Monday to Saturday (9am to 6pm) 
Shipping Hours - Monday to Saturday
Daily shipping cut off time: 11.59pm. Orders made after 12am will be processed and shipped on the next day. 
            </div>
        </div>
    </div>
</div>