.modal-footer{
  button{
    width: 100%;
  }

  .btn-light{
    background-color: #fff;
    color: black !important;
  }
}
.extra-time:hover{
  background-color: #eee;
  cursor: pointer;
}
.curser-pointer{
  cursor: pointer;
}