.myTipCard {
    margin-bottom: 50px;
    margin-top: 20px;
    // position: relative;
    // .card-columns {
    //     &.lastCard{
    //         margin-bottom: 180px;
    //     }
    // }
    .tipbtn-wrapper {
        position: fixed;
        bottom: 46px;
        left: 0;
        margin-top: 30px;
        width: 100%;
        .btn {
            width: 100%;
            background-color: #000;
            border-color: #000;
            border-radius: 0;
            color: #fff;
        }
    }
}

.card-title{
    text-align: center;
    font-size: 17px;
}

.card-text{
    text-align: center;
}

.card-footer{
    text-align: center;
    background-color: black;
    color: white;
  }
  .main{
      margin-top: 25px;
  }