<div class="custom-modal">
    <div class="modal-header">
        <h4 class="modal-title">Location Permission</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('keep')">
        </button>
    </div>
    <div class="modal-body">
        <div class="text-center mt-1 mb-3">
            We need to turn on location permission to change to your current location.
            <br>
            Please select <span style="color: #90C63E;">Allow</span> to continue.
        </div>
        <div class="actions mt-4">
            <button type="button" class="btn btn-accept" (click)="getLocation()">Allow</button>
            <button type="button" class="btn btn-cancel" (click)="activeModal.close('keep')">Decline</button>
        </div>
    </div>
    <div class="modal-footer">
    </div>
</div>